<div id="all">
    <div class="table-responsive">
      <table id="resultadosBusqueda" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th align="center">Nombre</th>
            <th align="center">RUC</th>
            <th align="center"></th>
          </tr>
        </thead>
        <tbody>
          <loop start="clientes"/>
          <tr>
            <td align="center"> {clientes.nombre} </td>
            <td align="center"> {clientes.doc} </td>
            <td class="center"> 
              <a href="/?do=compras.crear&idCliente={clientes.idCliente}" class="btn btn-minier btn-success">Seleccionar <i class="ace-icon fa fa-arrow-right ace-icon fa fa-on-right"></i></a>
            </td>
          </tr>
          <loop end="clientes"/>
        </tbody>
      </table>
    </div>
    <div class="form-actions center" style="margin:0px;">
        <a href="/?do=compras.crear&ruc={ruc}&nombre={nombre}" class="btn btn-sm">
            Crear Nuevo <i class="ace-icon fa fa-plus fa-on-right bigger-110"></i>
		</a>
    </div>
</div>
<script>
	$('#resultadosBusqueda').dataTable({
		"oLanguage": {
			"sUrl": "assets/js/dataTableSpanish.json"
		},	
		"iDisplayLength" : 5,
		"aLengthMenu": [[5, 10, 25, -1], [5 , 10, 25, "Todos"]],
		"bLengthChange": false,
		"bFilter" : false
	});
</script>