<div class="well" style="margin-bottom:0px;">
    <form class="form-horizontal" role="form" id="principal" name="principal">
        <fieldset>
            <div class="form-group">
                <label for="nombre" class="col-sm-3 control-label no-padding-right">Proveedor</label>
                <div class="col-sm-9">
                    <input name="nombre" type="text" class="col-xs-12" id="nombre" value="{nombre}" onKeyPress="return disableEnterKey(event)" placeholder="Vendedor">
                </div>
            </div>
            <div class="form-group">
                <label for="tipo" class="col-sm-3 control-label no-padding-right">Tipo</label>
                <div class="col-sm-9">
                    <select name="tipo" class="col-xs-12" id="tipo" onKeyPress="return disableEnterKey(event)">
                        <option></option>
                        <option>Alimentacion</option>
                        <option>Transporte</option>
                        <option>Gasolina</option>
                        <option>Utiles de Oficina</option>
                        <option>Estacionamiento</option>
                        <option>Otros</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="moneda" class="col-sm-3 control-label no-padding-right"> Moneda </label>
                <div class="col-sm-9">
                    <select name="moneda" class="col-xs-12" id="moneda" onKeyPress="return disableEnterKey(event)">
                        <option></option>
                        <option>Soles</option>
                        <option>Dolares</option>
                        <option>Euros</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <input name="busqueda" type="hidden" id="busqueda" value="1" />
        <div class="center">
            <button class="btn btn-sm btn-success" type="button" id="realizaBusqueda">
                Buscar <i class="ace-icon fa fa-arrow-right fa-on-right bigger-110"></i>
            </button>
            <button class="btn btn-sm btn-danger" type="button" id="limpiar">
                Limpiar Filtros <i class="ace-icon fa fa-trash fa-on-right bigger-110"></i>
            </button>
        </div>
    </form>	
</div>
<div class="progress progress-striped active" id="procesando">
	<div class="progress-bar progress-bar-success" style="width: 100%;"></div>
</div>
<table id="tableSearch" class="table table-striped table-bordered table-hover" width="100%">
    <thead>
        <tr>
				<th>N</th>
				<th>Proveedor</th>
				<th>Tipo</th>
				<th>MON</th>
				<th>Subtotal</th>
				<th>IGV</th>
				<th>Otros</th>
				<th>Total</th>
				<th>Fecha</th>
				<th>Opc</th>
        </tr>
    </thead>
</table>
<link href="https://cdn.datatables.net/responsive/2.2.0/css/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
<script>
	$('#idRamo').val("{idRamo}");
	$('#idCompania').val("{idCompania}");
	$('#idVendedor').val("{idVendedor}");
	$('#tableSearch').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        },
        "serverSide": true,
        "ajax": {
            "url": "?do=busquedaAjax&matriz=compras",
            "data": function ( d ) {
                return $.extend( {}, d, JSON.parse(JSON.stringify( $('#principal').serializeArray())) );
            }
        },
        "fnPreDrawCallback":function(){
            $("#tableSearch").hide();
            $("#procesando").show();
        },
        "fnDrawCallback":function(){
            $("#tableSearch").show();
            $("#procesando").hide();
        },
        "dom": '<"row"<"col-sm-6"i><"col-sm-6"p>>r<"scrollTable"t><"clear">',
        "aoColumns": [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            { "bSortable": false }
		],
		"aoColumnDefs": [
            { "sClass": "center", "aTargets": "_all" }
        ],
        responsive: true
    }); 
    $("#realizaBusqueda").on('click', function(){
       $('#tableSearch').DataTable().ajax.reload();
    });
    $("#limpiar").on('click', function(){
        $('#principal').trigger('reset');
        $('#principal').find('input:text, input:password, select, textarea').val('');
        $('#principal').find('input:radio, input:checkbox').prop('checked', false);
        $.getJSON( "?do=limpiarBusqueda&matriz=compras")
          .done(function( json ) {
            $('#tableSearch').DataTable().ajax.reload();
          });
    });
</script>