<ul class="nav nav-list">
  <li {inicio}> <a href="?do=personas.verPortada"> <i class="menu-icon fa fa-dashboard"></i><span class="menu-text"> Inicio </span> </a> </li>
  <block start="cliente"/>
  <li {solicitudes}> <a class="dropdown-toggle" href="#"> <i class="menu-icon fa fa-edit"></i> <span class="menu-text"> Solicitudes </span> <b class="arrow fa fa-angle-down"></b> </a>
    <ul class="submenu">
      <li {solicitudes.crearSolicitud}> <a href="?do=solicitudes.crearSolicitud"> <i class="menu-icon fa fa-angle-double-right"></i> Hacer una Solicitud </a> </li>
      <li {solicitudes.verSolicitudes}> <a href="?do=solicitudes.verSolicitudes"> <i class="menu-icon fa fa-angle-double-right"></i> Ver Mis Solicitudes </a> </li>
    </ul>
  </li>
  <block end="cliente"/>
  <li {administracion}> <a class="dropdown-toggle" href="#"> <i class="menu-icon fa fa-desktop"></i> <span class="menu-text"> Administracion </span> <b class="arrow fa fa-angle-down"></b> </a>
    <ul class="submenu">
      <block start="admin"/>
      <li {personas.inscribirUsuario}> <a href="?do=personas.inscribirUsuario"> <i class="menu-icon fa fa-angle-double-right"></i> Inscribir Usuario </a> </li>
      <li {personas.verPersonas}> <a href="?do=personas.verPersonas"> <i class="menu-icon fa fa-angle-double-right"></i> Ver Personas </a> </li>
      <block end="admin"/>
      <li {personas.cambiarClave}><a href="?do=personas.cambiarClave&mail={mail}&seed={seed}&admin=1"> <i class="menu-icon fa fa-angle-double-right"></i> Cambiar mi clave</a></li>
      <block start="admin"/>
      <li {admin.changelog}><a href="?do=admin.changelog"> <i class="menu-icon fa fa-angle-double-right"></i> Registro de Cambios</a></li>
      <block end="admin"/>
    </ul>
  </li>
  <block start="admin"/>
  <li {contabilidad}> <a class="dropdown-toggle" href="#"> <i class="menu-icon fa fa-usd"></i> <span class="menu-text"> Contabilidad </span> <b class="arrow fa fa-angle-down"></b> </a>
    <ul class="submenu">
      <li {contabilidad.meses}> <a href="?do=contabilidad.meses"> <i class="menu-icon fa fa-angle-double-right"></i> Meses Contables </a> </li>
      <li {reportes.generaSBS}> <a href="?do=reportes.generaSBS"> <i class="menu-icon fa fa-angle-double-right"></i> Reporte SBS </a> </li>
      <li {contabilidad.estadisticas}> <a href="?do=contabilidad.estadisticas"> <i class="menu-icon fa fa-angle-double-right"></i> Estadisticas por Año </a> </li>
    </ul>
  </li>
  <block end="admin"/>
  <block start="vendedor"/>
  <li {polizas}> <a class="dropdown-toggle" href="#"> <i class="menu-icon fa fa-folder-open"></i> <span class="menu-text"> Polizas </span> <b class="arrow fa fa-angle-down"></b> </a>
    <ul class="submenu">
      <block start="admin"/>
      <li {polizas.editarDatosBasicos}><a href="?do=polizas.editarDatosBasicos"> <i class="menu-icon fa fa-angle-double-right"></i> Crear un Poliza</a></li>
      <block end="admin"/>
      <li {polizas.verPolizas}><a href="?do=polizas.verPolizas"> <i class="menu-icon fa fa-angle-double-right"></i> Buscar Polizas</a></li>
      <block start="admin"/>
      <li {polizas.busquedaEspecial}><a href="?do=polizas.busquedaEspecial"> <i class="menu-icon fa fa-angle-double-right"></i> Busqueda Especial</a></li>
      <li {vehiculos.verVehiculos}><a href="?do=vehiculos.verVehiculos"> <i class="menu-icon fa fa-angle-double-right"></i> Buscar Vehiculos</a></li>
      <block end="admin"/>
    </ul>
  </li>
  <block start="admin"/>
  <li {liquidaciones}> <a class="dropdown-toggle" href="#"> <i class="menu-icon fa fa-money"></i> <span class="menu-text"> Comisiones </span> <b class="arrow fa fa-angle-down"></b> </a>
    <ul class="submenu">
      <li {liquidaciones.crear}> <a href="#" class="dropdown-toggle"> <i class="menu-icon fa fa-angle-double-right"></i> Crear Liquidacion <b class="arrow fa fa-angle-down"></b> </a>
        <ul class="submenu" {liquidaciones.submenu}>
          <li {liquidaciones.editarDatosBasicos}> <a href="?do=liquidaciones.editarDatosBasicos"> <i class="menu-icon fa fa-leaf"></i> Comisiones </a> </li>
          <li {liquidaciones.bonos}> <a href="?do=liquidaciones.crearBono"> <i class="menu-icon fa fa-pencil"></i> Bonos </a> </li>
        </ul>
      </li>
      <li {liquidaciones.verLiquidaciones}><a href="?do=liquidaciones.verLiquidaciones"> <i class="menu-icon fa fa-angle-double-right"></i> Ver Liquidaciones</a></li>
      <li {liquidaciones.cedidas}>
        <a href="#" class="dropdown-toggle"> <i class="menu-icon fa fa-angle-double-right"></i> Comisiones Cedidas <b class="arrow fa fa-angle-down"></b></a>
        <ul class="submenu" {liquidaciones.cedidasSub}>
          <li {liquidaciones.editarCedida}> <a href="?do=liquidaciones.editarCedida"> <i class="menu-icon fa fa-pencil"></i> Crear Cedida </a> </li>
          <li {liquidaciones.verCedidas}> <a href="?do=liquidaciones.verCedidas"> <i class="menu-icon fa fa-leaf"></i> Listado </a> </li>
          <li {reportes.cedidasPendientes}> <a href="?do=reportes.cedidasPendientes"> <i class="menu-icon fa fa-inbox"></i> Pendientes </a> </li>
        </ul>
      </li>
      <li {liquidaciones.reportes}><a href="?do=liquidaciones.reportes"> <i class="menu-icon fa fa-angle-double-right"></i> Reporte de Facturas</a></li>
      <li {reportes.comisionesPendientes}><a href="?do=reportes.comisionesPendientes"> <i class="menu-icon fa fa-angle-double-right"></i> Comisiones por Cobrar</a></li>
    </ul>
  </li>
  <block end="admin"/>
  <block start="admin"/>
  <li {clientes}> <a class="dropdown-toggle" href="#"> <i class="menu-icon fa fa-group"></i> <span class="menu-text"> Clientes </span> <b class="arrow fa fa-angle-down"></b> </a>
    <ul class="submenu">
      <li {clientes.editarDatosBasicos}><a href="?do=clientes.editarDatosBasicos"> <i class="menu-icon fa fa-angle-double-right"></i> Agregar un Cliente</a></li>
      <li {clientes.verClientes}><a href="?do=clientes.verClientes"> <i class="menu-icon fa fa-angle-double-right"></i> Buscar Clientes</a></li>
    </ul>
  </li>
  <li {companias}> <a class="dropdown-toggle" href="#"> <i class="menu-icon fa fa-briefcase"></i> <span class="menu-text"> Compañias </span> <b class="arrow fa fa-angle-down"></b> </a>
    <ul class="submenu">
      <li {companias.editarDatosBasicos}><a href="?do=companias.editarDatosBasicos"> <i class="menu-icon fa fa-angle-double-right"></i> Agregar una Compañia</a></li>
      <li {companias.verCompanias}><a href="?do=companias.verCompanias"> <i class="menu-icon fa fa-angle-double-right"></i> Buscar Compañias</a></li>
    </ul>
  </li>
  <block start="admin"/>
  <li {reportes}> <a class="dropdown-toggle" href="#"> <i class="menu-icon fa fa-bar-chart"></i> <span class="menu-text"> Reportes </span> <b class="arrow fa fa-angle-down"></b> </a>
    <ul class="submenu">
      <li {reportes.pantalla}><a href="?do=reportes.pantalla"> <i class="menu-icon fa fa-angle-double-right"></i> Consultas Web</a></li>
      <li {reportes.generar}><a href="?do=reportes.generar"> <i class="menu-icon fa fa-angle-double-right"></i> Generar Excel</a></li>
      <li {reportes.historico}><a href="?do=reportes.historico"> <i class="menu-icon fa fa-angle-double-right"></i> Historico Excel</a></li>
    </ul>
  </li>
  <block end="admin"/>
  <block end="admin"/>
  <block end="vendedor"/>
</ul>
