							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>Bienvenido,</small>
									{nombreUsuario}
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="/?do=personas.verPortada">
										<i class="ace-icon fa fa-cog"></i>
										Opciones
									</a>
								</li>

								<li>
									<a href="/?do=personas.verPortada">
										<i class="ace-icon fa fa-user"></i>
										Perfil
									</a>
								</li>

								<li class="divider"></li>
								<li>
									<a href="/?do=personas.logout">
										<i class="ace-icon fa fa-off"></i>
										Logout
									</a>
								</li>
							</ul>