<div class="well" style="margin-bottom:0px;">
    <form class="form-horizontal" role="form" id="principal" name="principal">
        <fieldset>
            <div class="form-group">
                <label for="factura" class="col-sm-3 control-label no-padding-right"> Factura </label>
                <div class="col-sm-9">
                    <input name="factura" type="text" id="factura" placeholder="Factura" value="{factura}" class="col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <label for="idCompania" class="col-sm-3 control-label no-padding-right"> Compañia </label>
                <div class="col-sm-9">
                  <select name="idCompania" class="col-xs-12" id="idCompania" onKeyPress="return disableEnterKey(event)">
                    {companias}
                  </select>
                </div>
            </div>
        </fieldset>
        <input name="busqueda" type="hidden" id="busqueda" value="1" />
        <div class="center">
            <button class="btn btn-sm btn-success" type="button" id="realizaBusqueda">
                Buscar <i class="ace-icon fa fa-arrow-right fa-on-right bigger-110"></i>
            </button>
            <button class="btn btn-sm btn-danger" type="button" id="limpiar">
                Limpiar Filtros <i class="ace-icon fa fa-trash fa-on-right bigger-110"></i>
            </button>
        </div>
    </form>	
</div>
<div class="progress progress-striped active" id="procesando">
	<div class="progress-bar progress-bar-success" style="width: 100%;"></div>
</div>
<table id="tableSearch" class="table table-striped table-bordered table-hover" width="100%">
    <thead>
        <tr>
            <th>Factura</th>
            <th>Compañia</th>
            <th>Fecha de Pago</th>
            <th>Acciones</th>
        </tr>
    </thead>
</table>
<script>
	$('#tableSearch').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        },
        "serverSide": true,
        "ajax": {
            "url": "?do=busquedaAjax&matriz=liquidaciones",
            "data": function ( d ) {
                return $.extend( {}, d, JSON.parse(JSON.stringify( $('#principal').serializeArray())) );
            }
        },
        "fnPreDrawCallback":function(){
            $("#tableSearch").hide();
            $("#procesando").show();
        },
        "fnDrawCallback":function(){
            $("#tableSearch").show();
            $("#procesando").hide();
        },
        "dom": '<"row"<"col-sm-6"i><"col-sm-6"p>>r<"scrollTable"t><"clear">',
        "aoColumns": [
            null, null, null,
            { "bSortable": false }
		],
		"aoColumnDefs": [
            { "sClass": "center", "aTargets": "_all" }
        ],
    }); 
    $("#realizaBusqueda").on('click', function(){
       $('#tableSearch').DataTable().ajax.reload();
    });
    $("#limpiar").on('click', function(){
        $('#principal').trigger('reset');
        $('#principal').find('input:text, input:password, select, textarea').val('');
        $('#principal').find('input:radio, input:checkbox').prop('checked', false);
        $.getJSON( "?do=limpiarBusqueda&matriz=liquidaciones")
          .done(function( json ) {
            $('#tableSearch').DataTable().ajax.reload();
          });
    });
</script>