<div class="page-header">
  <h1> Reporte de Liquidaciones <small> <i class="ace-icon fa fa-angle-double-right"></i> Facturas emitidas por mes </small> </h1>
</div>
<div class="widget-box">
  <div class="widget-header">
    <h4>Busqueda</h4>
    <div class="widget-toolbar">
      <a href="#" data-action="collapse"> <i class="ace-icon fa fa-chevron-up"></i> </a>
    </div>
  </div>
  <div class="widget-body">
    <div class="widget-main no-padding">
      <form class="form-horizontal" role="form" id="principal" name="principal">
        
        <!-- <legend>Form</legend> -->
        
        <fieldset>
          <div class="form-group">
            <label for="reporte" class="col-sm-3 control-label no-padding-right">Tipo de Reporte</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <select class="col-sm-12" name="reporte" id="reporte">
                <option value="2">Solo Comisiones Recibidas</option>
                <option value="3">Solo Comisiones Cedidas</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group" id="divAsesor" style="display:none">
            <label for="asesor" class="col-sm-3 control-label no-padding-right">Asesor</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <select class="col-sm-12" name="asesor" id="asesor">
                {selectAsesores}
                </select>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label class="col-sm-6 control-label no-padding-right" for="form-field-1"> Año </label>
              <div class="col-sm-6">
                <select class="width-80 chosen-select" id="anio" data-placeholder="Seleccione el Año...">
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> Mes </label>
              <div class="col-sm-6">
                <select class="width-80 chosen-select" id="mes" data-placeholder="Seleccione el Mes...">
                  <option value="0"></option>
                  <option value="1">Enero</option>
                  <option value="2">Febrero</option>
                  <option value="3">Marzo</option>
                  <option value="4">Abril</option>
                  <option value="5">Mayo</option>
                  <option value="6">Junio</option>
                  <option value="7">Julio</option>
                  <option value="8">Agosto</option>
                  <option value="9">Setiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                </select>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-actions center">
          <button id="busca" type="button" class="btn btn-sm btn-success"> Buscar <i class="ace-icon fa fa-arrow-right fa-on-right bigger-110"></i> </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="alert alert-danger" id="alerta">
  <button type="button" class="close" data-dismiss="alert"> <i class="ace-icon fa fa-remove"></i> </button>
  <strong> <i class="ace-icon fa fa-remove"></i> ¡Atencion! </strong> Debe seleccionar el mes del reporte. <br>
</div>
<div id="load">
  <h3 class="center infinite flash animated" >Cargando Reporte...</h3>
  <div class="progress progress-striped active" >
    <div class="progress-bar progress-bar-success" style="width: 100%;">
    </div>
  </div>
</div>
<div id="pantalla">
</div>
<script type="text/javascript">
$('#load').hide();
$('#alerta').hide();
$(".chosen-select").chosen();
$("#busca").on("click", function (e) {
    if($('#mes').val()!="" && $('#mes').val()!="0"){
		$('#load').show();
		$('#alerta').hide();
		$("#pantalla").empty();
		$("#pantalla").load( "?do=liquidaciones.buscarMes&vista=1&reporte=" + $('#reporte').val() + "&mes=" + $('#mes').val() + "&anio=" +  $('#anio').val() + "&asesor=" + $('#asesor').val(), function(){
			$('#load').hide();
		});
	}else{
		$('#alerta').show();
	}
});
$('#reporte').change(function (r){
	if($(this).val()=="3"){
		$('#divAsesor').show('slow');
	}else{
		$('#divAsesor').hide('slow');
	}
});
</script> 
