<div class="row">
  <div class="col-xs-12">
    <h3 class="header smaller blue"><span class="col-xs-6">Detalle de Comisiones Cedidas - Mes : {mes} - {anio}</span><span class="col-xs-6">
    
    <span class="pull-right inline">
			<span class="btn-toolbar inline middle no-margin"> 
				<span class="btn-group no-margin" data-toggle="buttons" id="accordion-style">
					<button id="print" class="btn btn-xs btn-info"><i class="icon-print"></i> Imprimir </button>
				</span>
			</span> 
		</span>
    
    </span></h3>
    <loop start="facturas"/>
    <h4 class="row header smaller lighter blue"> <span class="col-xs-8">Numero de Factura : {facturas.numero}<br /> 
    Vendedor : {facturas.vendedor} </span><!-- /span --> <span class="col-xs-4"> Moneda : {facturas.moneda} <br /> 
    Fecha : {facturas.fecha}</span><!-- /span --></h4>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="center col-xs-1">#</th>
            <th class="col-xs-3">Asegurado</th>
            <th class="col-xs-1">Ramo</th>
            <th class="col-xs-2">Aviso de Cobranza</th>
            <th class="col-xs-2">Poliza</th>
            <th class="col-xs-1">Prima Neta</th>
            <th class="col-xs-1">Comision</th>
            <th class="col-xs-1">Cedida</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="7" class="center"><strong>SubTotal</strong></td>
            <td class="center"><strong>{facturas.subTotal}</strong></td>
          </tr>
          <tr>
            <td colspan="7" class="center"><strong>IGV</strong></td>
            <td class="center"><strong>{facturas.IGV}</strong></td>
          </tr>
          <tr>
            <td colspan="7" class="center"><strong>Total Factura</strong></td>
            <td class="center"><strong>{facturas.total}</strong></td>
          </tr>
        </tfoot>
        <tbody>
          <loop start="facturas.cobros"/>
          <tr>
            <td class="center">{facturas.cobros.id}</td>
            <td class="center">{facturas.cobros.asegurado}</td>
            <td class="center">{facturas.cobros.ramo}</td>
            <td class="center">{facturas.cobros.avisoCobranza}</td>
            <td class="center">{facturas.cobros.poliza}</td>
            <td class="center">{facturas.cobros.primaNeta}</td>
            <td class="center">{facturas.cobros.comision}</td>
            <td class="center">{facturas.cobros.comisionC}</td>
          </tr>
          <loop end="facturas.cobros"/>
        </tbody>
      </table>
    </div>
    <div class="hr hr8 hr-double hr-dotted">
    </div>
    <loop end="facturas"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3 class="header smaller blue">Cifras Totales - Mes : {mes} - {anio} </h3>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th class="center col-xs-2">Moneda</th>
            <th class="center col-xs-1">&nbsp;</th>
            <th class="center col-xs-3">Comision</th>
            <th class="center col-xs-3">IGV</th>
            <th class="center col-xs-3">Total Factura</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center">En Soles</td>
            <td class="center">S/.</td>
            <td class="center">{comisionSoles}</td>
            <td class="center">{igvSoles}</td>
            <td class="center">{totalSoles}</td>
          </tr>
          <tr>
            <td class="center">En Dolares</td>
            <td class="center">&#36;</td>
            <td class="center">{comisionDolares}</td>
            <td class="center">{igvDolares}</td>
            <td class="center">{totalDolares}</td>
          </tr>
          <tr>
            <td class="center">En Euros</td>
            <td class="center">&#8364;</td>
            <td class="center">{comisionEuros}</td>
            <td class="center">{igvEuros}</td>
            <td class="center">{totalEuros}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
$( "#print" ).on( "click", function(event) {
	event.preventDefault();
	window.open("?do=liquidaciones.buscarMes&reporte=3&mes={mesNum}&anio={anio}", "popupWindow", "width=800, height=600, scrollbars=yes");
});
</script>

          