<div class="widget-box">
	<div class="widget-header">
		<h4>Filtros de Busqueda</h4>
		<div class="widget-toolbar"> <a data-action="collapse" href="#"> <i class="icon-chevron-up"></i> </a> <a data-action="close" href="#"> <i class="icon-remove"></i> </a> </div>
	</div>
	<div class="widget-body">
		<div class="widget-main no-padding">
			<form class="form-horizontal" role="form" id="principal" name="principal">
				<!-- <legend>Form</legend> -->
				<fieldset>
					<div class="form-group">
						<label for="factura" class="col-sm-3 control-label no-padding-right"> Factura </label>
						<div class="col-sm-9">
							<input name="factura" type="text" class="col-sm-12" id="factura" value="{factura}" onKeyPress="return disableEnterKey(event)" placeholder="Factura">
						</div>
					</div>
					<div class="form-group">
						<label for="idCompania" class="col-sm-3 control-label no-padding-right"> Compania </label>
						<div class="col-sm-9">
							<select name="idCompania" class="col-sm-12" id="idCompania" onKeyPress="return disableEnterKey(event)">
								
								
						{companias}
							
							
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="limite" class="col-sm-3 control-label no-padding-right"> Limite </label>
						<div class="col-sm-9">
							<select id="limite" name="limite" onKeyPress="return disableEnterKey(event)">
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="30">30</option>
								<option value="40">40</option>
								<option value="50">50</option>
								<option value="60">60</option>
								<option value="70">70</option>
								<option value="80">80</option>
								<option value="90">90</option>
								<option value="100">100</option>
							</select>
						</div>
					</div>
				</fieldset>
				<input name="busqueda" type="hidden" id="busqueda" value="1" />
				<div class="form-actions center">
					<button class="btn btn-sm btn-success" type="button" onClick="cargarFormulario('principal','?do=liquidaciones.busquedaLiquidaciones&pagina=1','divBusquedaLiquidaciones');">
						Buscar <i class="icon-arrow-right icon-on-right bigger-110"></i>
					</button>
					<button class="btn btn-sm btn-danger" type="button" id="limpiar" onClick="window.location='?do=liquidaciones.verLiquidaciones&limpiar=1'" value="Limpiar Filtros">
						Limpiar Filtros <i class="icon-trash icon-on-right bigger-110"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	var parentAccordion=new TINY.accordion.slider("parentAccordion");
	parentAccordion.init("accFiltro","h4",0,0);
</script> 
<script>

	function disableEnterKey(e){
		var key;
		if(window.event)
		key = window.event.keyCode;     //IE
		else
		key = e.which;     //firefox
		
		if(key == 13)
		return false;
		else
		return true;
	}	
	function limpiarExportar(divC){
		var el;
		el= document.getElementById(divC);
		el.innerHTML = "";
	}
</script>
<h3 class="row header smaller lighter blue">
	Resultados de B&uacute;squeda<!-- /span --><!-- /span --> 
</h3>
<div class="row">
	<div class="col-xs-12"> 
		<!-- PAGE CONTENT BEGINS -->
		<div class="row">
			<div class="col-xs-12">
				<div id="divBusquedaLiquidaciones" style="height:430px"> </div>
			</div>
		</div>
		<!-- PAGE CONTENT ENDS --> 
	</div>
	<!-- /.col --> 
</div>
<script>
	cargarFormulario('principal','?do=liquidaciones.busquedaLiquidaciones','divBusquedaLiquidaciones');
</script>
