<table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<iframe name="respuestas" style="display: none"></iframe>
			<form id="formulario" action="?do=personas.autentificar" method="post">
				<table style="width:100%; padding:5px; padding-left:10px;" cellspacing="0" cellpadding="0">
					<tr>
						<td colspan="2">
						   <h1>{nombreSistema}</h1>
						</td>
					</tr>
					<tr>
						<td>
							Nombre de Usuario
						</td>
						<td>
							<input tabindex="1" type="text" name="mail" id="mail" maxlength="200" size="40"/>
						</td>
					</tr>
					<tr>
						<td>
							Contraseña
						</td>
						<td>
							<div id="tablaPass">
								<input tabindex="2" type="password" name="password" maxlength="200" size="40"/><br/>
								<a href="#" onclick="return recordarPass();">¿Has olvidado tu contraseña? <br/>
								</a>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" tabindex="3" value="Ingresar">
						</td>
					</tr>
				</table>
			</form>
		</td>
		<td style="border-left:1px solid #EEEEEE;border-bottom:1px solid #EEEEEE;border-top:1px solid #EEEEEE; background:url('./images/mapa.gif') no-repeat; font-weight:bold;padding:10px;" height="300" width="500" align="right">
			<div style="width:300px;">&nbsp;
			</div>
		</td>
	</tr>
</table>


