
<h3 class="row header smaller lighter blue">
	<span class="col-xs-6"> Reporte de Comisiones por Cobrar </span> 
	<span class="col-xs-6"> 
		<span class="pull-right inline">
			<span class="btn-toolbar inline middle no-margin"> 
				<span class="btn-group no-margin" data-toggle="buttons" id="accordion-style">
					<button id="target" class="btn btn-light btn-xs"><i class="icon-print icono bigger-125"></i> Imprimir </button>
				</span>
			</span> 
		</span> 
	</span><!-- /span --> 
</h3>
<div class="table-responsive">
	<style type = "text/css" scoped>
.odd
{ background-color: #f9f9f9; }

.even
{ background-color: #ffffff; }
</style>
	<table id="sample-table-2" class="table table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<th align="center">Aviso</th>
				<th align="center">Poliza</th>
				<th align="center">Ramo</th>
				<th align="center">TD</th>
				<th align="center">Cia</th>
				<th align="center" class="col-sm-2">Vigencia</th>
				<th align="center">M</th>
				<th align="center">P. Neta</th>
				<th align="center">Total Fac.</th>
				<th align="center">COM</th>
				<th align="center">Vendedor</th>
				<th align="center">CED</th>
			</tr>
		</thead>
<tbody>
	<loop start="clientes"/>
	<tr style="border-right: white 2px solid;border-left: white 2px solid;">
    <td colspan="12"><span><b>{clientes.cliente}</b></span></td>
	</tr>
	    <loop start="clientes.cobro"/>
			<tr class="st">
				<td align="center">{clientes.cobro.aviso}</td>
				<td align="center"><a href="/?do=polizas.ver&idPoliza={clientes.cobro.idPoliza}">{clientes.cobro.poliza}</a></td>
				<td align="center">{clientes.cobro.ramo}</td>
				<td align="center">{clientes.cobro.doc}</td>
				<td align="center">{clientes.cobro.com}</td>
				<td align="center">{clientes.cobro.inicioVigencia} - {clientes.cobro.finVigencia}</td>
				<td align="center">{clientes.cobro.moneda}</td>
				<td align="center">{clientes.cobro.primaNeta}</td>
				<td align="center">{clientes.cobro.totalFactura}</td>
				<td align="center">{clientes.cobro.comisionP}% - {clientes.cobro.comision}</td>
				<td align="center">{clientes.cobro.vendedor}</td>
				<td align="center">{clientes.cobro.comisionCedidaP}% - {clientes.cobro.comisionCedida}</td>
			</tr>
          <loop end="clientes.cobro"/>
		{clientes.usd}
		{clientes.sol}
		{clientes.eur}
	<loop end="clientes"/>
    <!--
    <tr>
    <td><div class="hr hr8 hr-double hr-dotted">
    </div></td>
	</tr>--->
</tbody>

	</table>
</div>

<script>
var child;
jQuery('#target').click( function() {
	child = window.open("/?do=reportes.comisionesPendientes&vista=1", "nueva", "toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=850,height=840");
	event.preventDefault();
});		
// Find all objects to highlight.
$(".st").each(function(index) {
    // For each one, peek at the previous object.
    var objPrev = $(this).prev('.st');
    if( objPrev.hasClass('odd') ) {
        $(this).addClass('even');
    } else {
        $(this).addClass('odd');
    }    
});
	
</script>