
<h3 class="row header smaller lighter blue">
	<span class="col-xs-6"> Reporte de Comisiones por Cobrar </span> 
	<span class="col-xs-6"> 
		<span class="pull-right inline">
			<span class="btn-toolbar inline middle no-margin"> 
				<span class="btn-group no-margin" data-toggle="buttons" id="accordion-style">
											<div class="btn-group">
												<button class="btn btn-xs btn-info">Herramientas</button>

												<button data-toggle="dropdown" class="btn btn-xs btn-info dropdown-toggle">
													<span class="icon-caret-down icon-only"></span>
												</button>

												<ul class="dropdown-menu pull-right">
													<li>
														<a href="#" id="imprimir">Imprimir</a>
													</li>

													<li>
														<a href="#" id="exportar">Exportar</a>
													</li>
												</ul>
											</div>					
				</span>
			</span> 
		</span> 
	</span><!-- /span --> 
</h3>
<div class="table-responsive">
	<style type = "text/css" scoped>
.odd
{ background-color: #f9f9f9; }

.even
{ background-color: #ffffff; }
</style>
	<table id="sample-table-2" class="table table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<th align="center">Aviso</th>
				<th align="center">Poliza</th>
				<th align="center">Ramo</th>
				<th align="center">TD</th>
				<th align="center">Cia</th>
				<th align="center" class="col-sm-2">Vigencia</th>
				<th align="center">M</th>
				<th align="center">P. Neta</th>
				<th align="center">Total Fac.</th>
				<th align="center">COM</th>
				<th align="center">Vendedor</th>
				<th align="center">CED</th>
			</tr>
		</thead>
<tbody>
	<loop start="clientes"/>
	<tr style="border-right: white 2px solid;border-left: white 2px solid;">
    <td colspan="12"><span><b>{clientes.cliente}</b></span></td>
	</tr>
	    <loop start="clientes.cobro"/>
			<tr class="st">
				<td align="center">{clientes.cobro.aviso}</td>
				<td align="center"><a href="/?do=polizas.ver&idPoliza={clientes.cobro.idPoliza}&vig={clientes.cobro.idPoliza}">{clientes.cobro.poliza}</a></td>
				<td align="center">{clientes.cobro.ramo}</td>
				<td align="center">{clientes.cobro.doc}</td>
				<td align="center">{clientes.cobro.com}</td>
				<td align="center">{clientes.cobro.inicioVigencia} - {clientes.cobro.finVigencia}</td>
				<td align="center">{clientes.cobro.moneda}</td>
				<td align="center">{clientes.cobro.primaNeta}</td>
				<td align="center">{clientes.cobro.totalFactura}</td>
				<td align="center">{clientes.cobro.comisionP}% - {clientes.cobro.comision}</td>
				<td align="center">{clientes.cobro.vendedor}</td>
				<td align="center">{clientes.cobro.comisionCedidaP} - {clientes.cobro.comisionCedida}</td>
			</tr>
          <loop end="clientes.cobro"/>
		{clientes.usd}
		{clientes.sol}
		{clientes.eur}
	<loop end="clientes"/>
	<tr style="border-right: white 2px solid;border-left: white 2px solid;">
    <td colspan="12">&nbsp;</td>
	</tr>
	<tr>
	   <td colspan="5">&nbsp;</td>
	   <td colspan="2" align="center">Total Dolares</td>
	   <td>&nbsp;</td>
	   <td align="center">{granTotalDolares}</td>
	   <td align="center">{granComDolares}</td>
	   <td>&nbsp;</td>
	   <td align="center">{granComVenDolares}</td>
	</tr>
	<tr>
	   <td colspan="5">&nbsp;</td>
	   <td colspan="2" align="center">Total Soles</td>
	   <td>&nbsp;</td>
	   <td align="center">{granTotalSoles}</td>
	   <td align="center">{granComSoles}</td>
	   <td>&nbsp;</td>
	   <td align="center">{granComVenSoles}</td>
	</tr>
	<tr>
	   <td colspan="5">&nbsp;</td>
	   <td colspan="2" align="center">Total Euros</td>
	   <td>&nbsp;</td>
	   <td align="center">{granTotalEuros}</td>
	   <td align="center">{granComEuros}</td>
	   <td>&nbsp;</td>
	   <td align="center">{granComVenEuros}</td>
	</tr>
</tbody>

	</table>
</div>

<script src="/assets/js/jquery.btechco.excelexport.js"></script>
<script src="/assets/js/jquery.base64.js"></script>
<script>
var child;
jQuery('#imprimir').click( function(event) {
	child = window.open("/?do=reportes.comisionesPendientes&vista=1", "nueva", "toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=850,height=840");
	event.preventDefault();
});		

jQuery('#exportar').click( function(event) {
	$("#sample-table-2").btechco_excelexport({
                containerid: "sample-table-2"
               , datatype: $datatype.Table
            });
	event.preventDefault();
});

// Find all objects to highlight.
$(".st").each(function(index) {
    // For each one, peek at the previous object.
    var objPrev = $(this).prev('.st');
    if( objPrev.hasClass('odd') ) {
        $(this).addClass('even');
    } else {
        $(this).addClass('odd');
    }    
});
	
</script>
