<div class="page-header">
	<h1> Reportes <small> <i class="ace-icon fa fa-angle-double-right"></i> Reportes Especiales </small> </h1>
</div>
<div class="col-sm-8 col-sm-offset-2">
	<div class="well">
		<h4 class="blue smaller">Reporte de Cartera</h4>
		<div class="center">
			<button class="btn btn-sm btn-success" onclick="window.location.href = '?do=reportes.cartera'">
				<i class="ace-icon fa fa-floppy-o align-top bigger-125"></i> Descargar <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
			</button>
		</div>
	</div>
	<div class="well">
		<h4 class="blue smaller">Reporte de Renovaciones</h4>
		<div class="center">
			<button class="btn btn-sm btn-success" onclick="window.location.href = '#'">
				<i class="ace-icon fa fa-floppy-o align-top bigger-125"></i> Descargar <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
			</button>
		</div>
	</div>
	<div class="well">
		<h4 class="blue smaller">Estado de Cuenta</h4>
		<div class="center">
			<button class="btn btn-sm btn-success" onclick="window.location.href = '#'">
				<i class="ace-icon fa fa-floppy-o align-top bigger-125"></i> Descargar <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
			</button>
		</div>
	</div>
	<div class="well">
		<h4 class="blue smaller">Reporte de Comisiones</h4>
		<div class="center">
			<button class="btn btn-sm btn-success" onclick="window.location.href = '#'">
				<i class="ace-icon fa fa-floppy-o align-top bigger-125"></i> Descargar <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
			</button>
		</div>
	</div>
	<div class="progress progress-striped active" id="procesando">
		<div class="progress-bar progress-bar-success" style="width: 100%;"></div>
	</div>
</div>
<script>
$('#procesando').hide();
</script>
