<div class="widget-box">
  <div class="widget-header">
    <h4 class="widget-title">Filtros de Reporte</h4>
    <div class="widget-toolbar"> <a data-action="collapse" href="#"> <i class="ace-icon fa fa-chevron-up"></i> </a> <a data-action="close" href="#"> <i class="ace-icon fa fa-remove"></i> </a> </div>
  </div>
  <div class="widget-body">
    <div class="widget-main no-padding">
      <form class="form-horizontal" role="form" id="principal" name="principal" action="?do=reportes.genera" method="post">
        <!-- <legend>Form</legend> -->
        <fieldset>
          <div class="form-group">
            <label for="com" class="col-sm-3 control-label no-padding-right"> Compañia </label>
            <div class="col-sm-9">
              <select name="com" class="chosen-select" id="com" data-placeholder="Escoja una Compañia...">
				{companias}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="ram" class="col-sm-3 control-label no-padding-right"> Ramo </label>
            <div class="col-sm-9">
              <select name="ram" class="chosen-select" id="ram" data-placeholder="Escoja un Ramo...">
                
						{ramos}
              
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="ase" class="col-sm-3 control-label no-padding-right"> Cliente </label>
            <div class="col-sm-9">
              <select name="ase" class="chosen-select" id="ase"  data-placeholder="Escoja un Cliente...">
				{clientes}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="inicioVigencia">Inicio de Vigencia</label>
            <div class="col-sm-9">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-calendar bigger-110"></i>
								</span>
								<input class="form-control date-pick" type="text" name="inicioVigencia" id="inicioVigencia" />
							</div>
						</div>            
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="finVigencia">Fin de Vigencia</label>
            <div class="col-sm-9">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-calendar bigger-110"></i>
								</span>
								<input class="form-control date-pick" type="text" name="finVigencia" id="finVigencia" value="" />
							</div>
						</div>            
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="vigentes">Vigentes</label>
            <div class="col-sm-9">
							<div class="checkbox">
                <label>
                  <input name="vigentes" id="vigentes" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox">
                  <span class="lbl" data-lbl="SI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO"></span>
                </label>								
							</div>
						</div>            
          </div>
          
        </fieldset>
        <input name="busqueda" type="hidden" id="busqueda" value="1" />
        <div class="form-actions center">
          <button class="btn btn-sm btn-success" id="enviarFormulario" type="button" onClick="enviaForm()"> Buscar <i class="ace-icon fa fa-arrow-right fa-on-right bigger-110"></i> </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="alert alert-danger" id="alerta">
  <button type="button" class="close" data-dismiss="alert"> <i class="ace-icon fa fa-remove"></i> </button>
  <strong> <i class="ace-icon fa fa-remove"></i> ¡Atencion! </strong> Debe seleccionar al menos un filtro. <br>
</div>
<div id="load">
<h3 class="center">Cargando Reporte...</h3>
<div class="progress progress-striped active" >
  <div class="progress-bar progress-bar-success" style="width: 100%;">
  </div>
</div></div>
<div id="reporte">
</div>
<script>
$('input.date-pick').daterangepicker({
      'autoUpdateInput' : false,
			'applyClass' : 'btn-sm btn-success',
			'cancelClass' : 'btn-sm btn-default',
      "locale": {
        "format": "DD/MM/YYYY",
        "separator": " - ",
        "applyLabel": "Aplicar",
        "cancelLabel": "Cancelar",
        "fromLabel": "De",
        "toLabel": "Hasta",
        "customRangeLabel": "Custom",
        "daysOfWeek": [
            "D",
            "L",
            "M",
            "M",
            "J",
            "V",
            "S"
        ],
        "monthNames": [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Setiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ],
        "firstDay": 1
    },
}).prev().on(ace.click_event, function(){
	$(this).next().focus();
});

$('input.date-pick').on('apply.daterangepicker', function(ev, picker) {
  $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
  });

$('input.date-pick').on('cancel.daterangepicker', function(ev, picker) {
  $(this).val('');
});

$('#load').hide();
$('#alerta').hide();
$(".chosen-select").chosen({
	no_results_text: "No se hay ningun registro con esos datos.",
	width: "100%"
}); 
$("#busAsegurado").click(function() {
	$.post("?do=clientes.serializar", {
	  'nombre' : $('#buscarAsegurado').val() },
	  function(data) {
		var sel = $("#asegurado");
		sel.empty();
		for (var i=0; i<data.length; i++) {
		  sel.append('<option value="' + data[i].idCliente + '">' + data[i].nombre + '</option>');
		}
	  }, "json");
	  $("#asegurado").prop( "disabled", false );
});
function enviaForm(){
	if($('#ase').val()!="" || $('#com').val()!="" || $('#ram').val()!=""){
		$('#load').show();
		$('#alerta').hide();
    $.ajax({
        'url': '?do=reportes.generaPantalla&vista=1',
        'type': 'POST',
        'data': $('#principal').serialize(),
        'success': function(server_response){
          $("#reporte").html(server_response);
          $('#load').hide();
        }
    });
	}else{
		$('#alerta').show();
	}
}
</script>