<div class="widget-box">
  <div class="widget-header">
    <h4 class="widget-title">Filtros de Reporte</h4>
    <div class="widget-toolbar"> <a data-action="collapse" href="#"> <i class="ace-icon fa fa-chevron-up"></i> </a> <a data-action="close" href="#"> <i class="ace-icon fa fa-remove"></i> </a> </div>
  </div>
  <div class="widget-body">
    <div class="widget-main no-padding">
      <form class="form-horizontal" role="form" id="principal" name="principal" action="?do=reportes.genera" method="post">
        <!-- <legend>Form</legend> -->
        <fieldset>
          <div class="form-group">
            <label for="com" class="col-sm-3 control-label no-padding-right"> Compañia </label>
            <div class="col-sm-9">
              <select name="com" class="chosen-select" id="com" data-placeholder="Escoja una Compañia...">
				    {companias}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="ram" class="col-sm-3 control-label no-padding-right"> Ramo </label>
            <div class="col-sm-9">
              <select name="ram" class="chosen-select" id="ram" data-placeholder="Escoja un Ramo...">
            {ramos}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="ase" class="col-sm-3 control-label no-padding-right"> Cliente </label>
            <div class="col-sm-9">
              <select name="ase" class="chosen-select" id="ase"  data-placeholder="Escoja un Cliente...">
				    {clientes}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="ven" class="col-sm-3 control-label no-padding-right"> Vendedor </label>
            <div class="col-sm-9">
              <select name="ven" class="chosen-select" id="ven"  data-placeholder="Escoja un Vendedor...">
				    {personas}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="vencimiento">Por Vencimiento</label>
            <div class="col-sm-9">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="ace-icon fa fa-calendar bigger-110"></i>
								</span>
								<input class="form-control date-picker" data-date-format="mm/yyyy" type="text" name="vencimiento" id="vencimiento" value="" />
							</div>
						</div>            
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="vigentes">Vigentes</label>
            <div class="col-sm-9">
							<div class="checkbox">
                <label>
                  <input name="vigentes" id="vigentes" class="ace ace-switch ace-switch-4 btn-empty" type="checkbox">
                  <span class="lbl" data-lbl="SI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO"></span>
                </label>								
							</div>
						</div>            
          </div>        
        </fieldset>
        <input name="busqueda" type="hidden" id="busqueda" value="1" />
        <div class="form-actions center">
          <button class="btn btn-sm btn-success" id="enviarFormulario" type="button" onClick="enviaForm()"> Buscar <i class="ace-icon fa fa-arrow-right fa-on-right bigger-110"></i> </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="alert alert-danger" id="alerta">
  <button type="button" class="close" data-dismiss="alert"> <i class="ace-icon fa fa-remove"></i> </button>
  <strong> <i class="ace-icon fa fa-remove"></i> ¡Atencion! </strong> Debe seleccionar al menos un filtro. <br>
</div>
<div id="load">
<h3 class="center">Cargando Reporte...</h3>
<div class="progress progress-striped active" >
  <div class="progress-bar progress-bar-success" style="width: 100%;">
  </div>
</div></div>
<div id="reporte">
</div>
<script>
$(document).ready(function() {
  $('.date-picker').mask("99/9999");
  $('.date-picker').datepicker({
		viewMode: 'years',
    format: 'mm/yyyy',
    minViewMode: 'months',
		autoclose:true,
		clearBtn:true,
  }).next().on(ace.click_event, function(){
		$(this).prev().focus();
	});
});
$('#load').hide();
$('#alerta').hide();
$(".chosen-select").chosen({
	no_results_text: "No se hay ningun registro con esos datos.",
	allow_single_deselect: true,
	width: "100%"
}); 
function enviaForm(){
	if($('#ase').val()!="" || $('#com').val()!="" || $('#ram').val()!="" || $('#ven').val()!="" || $('#vencimiento').val()!=""){
		$('#load').show();
		$('#alerta').hide();
    $.ajax({
        'url': '?do=reportes.generaPantalla&vista=1',
        'type': 'POST',
        'data': $('#principal').serialize(),
        'success': function(server_response){
          $("#reporte").html(server_response);
          $('#load').hide();
        }
    });
	}else{
		$('#alerta').show();
	}
}
</script>