			<textarea style="display:none" id="template">
				<tr>
					<td style="text-align:center">
						<div class="form-group" style="margin:0px;"><input class="requerido" name="numeroCupon-{0}" type="text" id="numeroCupon-{0}" value="{1}"/></div>
					</td>
					<td style="text-align:center">
						<div class="form-group" style="margin:0px;"><input class="requerido" name="monto-{0}" type="text" id="monto-{0}" value="{2}"/></div>
					</td>
					<td style="text-align:center">
						<div class="form-group" style="margin:0px;"><input class="requerido date-picker" data-date-format="dd/mm/yyyy" name="vencimiento-{0}" type="text" id="vencimiento-{0}" value="{3}"/></div>
					</td>
					<td style="text-align:center">
						<button class="btn btn-danger btn-xs  eliminaFila">
							<i class="ace-icon fa fa-trash-o bigger-160 icon-only"></i>
						</button>
					</td>
				<tr/>
			</textarea>
			<form class="form-horizontal"  role="form" method="POST" action="?do=polizas.guardarCupones" id="generaCupones" name="generaCupones">
				<fieldset>
					<div class="form-group">
						<label for="primerCupon" class="col-sm-3 control-label no-padding-right"> Primer Cupon </label>
						<div class="col-sm-9">
							<input name="primerCupon" type="text" class="col-sm-12 col-xs-12" id="primerCupon">
						</div>
					</div>
					<div class="form-group">
						<label for="primerVencimiento" class="col-sm-3 control-label no-padding-right"> Primer Vencimiento </label>
						<div class="col-sm-9">
							<div class="input-group">
								<input type="text" name="primerVencimiento" data-date-format="dd/mm/yyyy" class="form-control date-picker" id="primerVencimiento">
								<span class="input-group-addon"> <i class="ace-icon fa fa-calendar"></i> </span>
							</div>
						</div>							
					</div>
					<div class="form-group">
						<label for="montoC" class="col-sm-3 control-label no-padding-right"> Monto </label>
						<div class="col-sm-9">
							<input name="montoC" type="text" class="col-sm-12 col-xs-12" id="montoC"  value="0">
						</div>
					</div>
					<div class="form-group">
						<label for="numCupones" class="col-sm-3 control-label no-padding-right"> Numero de Cupones </label>
						<div class="col-sm-9">
							<input name="numCupones" type="text" class="col-sm-12 col-xs-12" id="numCupones"  value="0">
						</div>
					</div>
					<div class="center">
						<button id="agregarCupones" type="button" class="btn btn-xs btn-info">
							<i class="ace-icon fa fa-comment fa-on-right bigger-110"></i> Agregar Cupones
						</button>
					</div>
				</fieldset>
					<hr />
					<input name="idPoliza" type="hidden" id="idPoliza" value="{idPoliza}">
					<div class="table-responsive" style="max-height:200px;">
						<table id="tablaAgregaCupones" class="table table-striped table-bordered table-hover">
							<tr>
								<td align="center">Numero de Cupon</td>
								<td align="center">Monto</td>
								<td align="center">Fecha Vencimiento</td>
								<td align="center">Eliminar</td>
							</tr>
						</table>
					</div>
					<input name="cupones" type="hidden" id="cupones" value="0">
					<input name="idPoliza" type="hidden" id="idPoliza" value="{idPoliza}">
					<br />
				<div class="form-actions center">
					<button class="btn btn-sm btn-success" type="button" id="enviarCupones" name="enviarCupones">
						Enviar <i class="ace-icon fa fa-arrow-right fa-on-right bigger-110"></i> 
					</button>
				</div>
			</form>
<script>
	$.validator.addMethod("requerido", function(value, element) {
		return !this.optional(element);
	}, "requerido");

	$().ready(function() {
		$('#generaCupones').validate({
			errorElement: 'div',
			errorClass: 'help-block',
			focusInvalid: false,
			invalidHandler: function (event, validator) { //display error alert on form submit   
				$('.alert-danger', $('.login-form')).show();
			},
			highlight: function (e) {
				$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
			},
			success: function (e) {
				$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
				$(e).remove();
			},
			errorPlacement: function (error, element) {
			},
		});	
		var template = jQuery.validator.format($.trim($("#template").val()));
		function addRow(a,b,c) {
			$(template(i++,a,b,c)).appendTo("#tablaAgregaCupones");
		}
		var i = 1;
		jQuery('#enviarCupones').click( function() {
			if($("#generaCupones").valid()){
				//$("#generaCupones").submit()
				$.ajax({
					type: "POST",
					dataType: "json",
					url: '?do=polizas.guardarCupones',
					data: $("#generaCupones").serialize(),
					success: function(data) {
						if(data["respuesta"]=="SUCCESS"){
							$("#tabCupones").html('<div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37"><div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;"></div></div>');
							$("#tabCupones").load('/?do=polizas.verCupones&idPoliza={idPoliza}');
							$( "#dialogoCupones" ).dialog("close");
						}
					}
				});
			}
		});
		jQuery('#agregarCupones').click( function() {
			$("#dialogoCupones").dialog("option", "position", {my: "center", at: "center", of: window});
			var j = parseInt(jQuery('#numCupones').val(),10);
			var primerCupon = parseInt(jQuery('#primerCupon').val(),10);
			var mystr = jQuery('#primerVencimiento').val();
			var myarr = mystr.split("/");
			var d = new Date(myarr[2], myarr[1]-1, myarr[0]); 
			var curr_date = ("0" + d.getDate()).slice(-2);
			var curr_month = ("0" + (d.getMonth() + 1)).slice(-2); //Months are zero based
			var curr_year = d.getFullYear();
			var temp;
			while(j>0){
				console.log(j);
				temp = curr_date + "/" + curr_month + "/" + curr_year;
				jQuery('#correlativo').val(parseInt(jQuery('#correlativo').val(),10) + 1);
				addRow(primerCupon++,jQuery('#montoC').val(),temp);
				//jQuery('#tablaAgregaCupones').append('<tr><td style="text-align:center"><input name="numeroCupon[]" type="text" id="numeroCupon[]" value="' + primerCupon++ + '"/></td><td style="text-align:center"><input name="monto[]" type="text" id="monto[]" value="' + jQuery('#montoC').val() + '"/></td><td style="text-align:center"><input name="vencimiento[]" type="text" id="vencimiento[]" value="' + temp + '"/></td><td style="text-align:center"><img class="eliminaFila" src="../images/icons/Close.png" /></td>');
				jQuery('#cupones').val(parseInt(jQuery('#cupones').val(),10) + 1);
				jQuery(".fecha").mask("99/99/9999");
				d.setMonth( d.getMonth() + 1 );
				curr_date = ("0" + d.getDate()).slice(-2);
				curr_month = ("0" + (d.getMonth() + 1)).slice(-2); //Months are zero based
				curr_year = d.getFullYear();
				j--;
			}
		});
		jQuery("#tablaAgregaCupones").on('click', 'button', function() {
			$("#dialogoCupones").dialog("option", "position", {my: "center", at: "center", of: window});
			if(parseInt(jQuery('#cupones').val(),10)!=1){
				var parent = jQuery(this).parents().parents().get(0);
				jQuery(parent).remove();
				jQuery('#cupones').val(parseInt(jQuery('#cupones').val(),10) - 1);
			}
		});
		jQuery('.date-picker').mask("99/99/9999");
		jQuery('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
				$(this).prev().focus();
		});	
	});	
</script>