<div id="buscarAsegurado">
<div class="tabbable">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"> <a data-toggle="tab" href="#tabDocumento"> Buscar por Documento </a> </li>
    <li> <a data-toggle="tab" href="#tabNombre"> Buscar por Nombre </a> </li>
  </ul>
  <div class="tab-content">
    <div id="tabDocumento" class="tab-pane in active">
        <form class="form-horizontal" name="porDoc" id="porDoc" action="?do=clientes.procesarDatosBasicos" role="form">
          <fieldset>
            <div class="form-group">
              <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Tipo </label>
              <div class="col-sm-9">
                <select name="tipoDoc" class="col-sm-12 col-xs-12 form-control" id="tipoDoc" >
                  
                  
                  
            
                  {tipoDoc}    
                  
          
                
                
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="doc" class="col-sm-3 control-label no-padding-right">Documento </label>
              <div class="col-sm-9">
                <div class="clearfix">
                  <input name="doc" type="text" class="col-sm-12"  id="doc" placeholder="Documento" onKeyPress="return disableEnterKey(event)">
				  <input name="idPoliza" type="hidden" class="col-sm-12" value="{idPoliza}">
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    <div id="tabNombre" class="tab-pane">
        <form class="form-horizontal" name="porNom" id="porNom" action="?do=clientes.procesarDatosBasicos" role="form">
          <fieldset>
            <div class="form-group">
              <label for="doc" class="col-sm-3 control-label no-padding-right">Nombre </label>
              <div class="col-sm-9">
                <div class="clearfix">
                  <input name="nombre" type="text" class="col-sm-12"  id="nombre" placeholder="Nombre" onKeyPress="return disableEnterKey(event)">
				  <input name="idPoliza" type="hidden" class="col-sm-12" value="{idPoliza}">
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
  </div>
</div>
<div class="form-actions center" style="margin:0px;">
    <button class="btn btn-sm" type="button" id="sinDoc" name="sinDoc"> Sin Documento <i class="ace-icon fa fa-plus fa-on-right bigger-110"></i> </button>&nbsp;&nbsp;&nbsp;&nbsp;
     
    <button class="btn btn-sm btn-success" type="button" id="buscarClientes" name="buscarClientes"> Buscar <i class="ace-icon fa fa-arrow-right fa-on-right bigger-110"></i> </button>		
</div>
</div>
<div id="resultados"></div>
<script type="text/javascript">
$('#resultados').hide();
$('#buscarClientes').click(function() {
	if($('#tabDocumento').hasClass('active')){
		//voy a buscar por documento
			$("#buscarAsegurado").hide();
			$("#resultados").show();
			$("#resultados").html('<div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37"><div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;"></div></div>');
			$.ajax({
				type: "POST",
				url: '?do=clientes.buscar',
				data: $("#porDoc").serialize(),
				success: function(data) {
					$("#resultados").html(data);
				}
			});	
	}else{
		//voy a buscar por nombre
			$("#buscarAsegurado").hide();
			$("#resultados").show();
			$("#resultados").html('<div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37"><div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;"></div></div>');
			$.ajax({
				type: "POST",
				url: '?do=clientes.buscar',
				data: $("#porNom").serialize(),
				success: function(data) {
					$("#resultados").html(data);
				}
			});	
			
	}
});
$('#resultados').on( 'click', 'button.agregaAsegurado', function (e) {
	var idCliente = $(this).attr('x-link');
	var idPoliza = $(this).attr('x-pol');
	$.ajax({
		type: "POST",
		dataType: "json",
		url: '?do=clientes.guardarEnPoliza&idCliente='+ idCliente + '&idPoliza='+ idPoliza,
			success: function(data) {
			if (data["respuesta"] == "SUCCESS") {
				$("#tab-4").html('<div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37"><div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;"></div></div>');
				$("#tab-4").load('/?do=polizas.verDatosParticulares&idPoliza={idPoliza}');
				$("#dialog-general").dialog("close");
			}
		}
	});
});

$("#sinDoc").click(function() {
	$("#buscarAsegurado").hide();
	$("#resultados").show();
	$("#resultados").html('<div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37"><div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;"></div></div>');
	$.ajax({
		type: "POST",
		url: '?do=clientes.crearGuardarEnPoliza&idPoliza={idPoliza}&nodoc=1',
		success: function(data) {
			$("#resultados").html(data);
		}
	});					
});
</script>