<block start="bloqueEditarPolizas"/>
<div class="widget-box">
  <div class="widget-header">
    <h4>{editar}</h4>
  </div>
  <div class="widget-body">
    <div class="widget-main no-padding">
      <form class="form-horizontal" enctype="multipart/form-data" method="POST" name="principal2" id="principal2" action="?do=polizas.procesarDatosBasicos" role="form">
        <!-- <legend>Form</legend> -->
        <fieldset>
          <!--<div class="form-group">
            <label for="nuevo" class="col-sm-3 control-label no-padding-right"> Nuevo Cliente </label>
            <div class="col-sm-9">
              <select name="new" id="new"  class="validate['required']">
                <option value="0" selected="selected">Si</option>
                <option value="1">No</option>
              </select>
            </div>
          </div>
          <div id="nuevo">-->
          <div class="form-group">
            <label for="idCliente" class="col-sm-3 control-label no-padding-right">Cliente </label>
            <div class="col-sm-9">
              <div class="clearfix">
                  <select name="idCliente" class="col-sm-12 col-xs-12 form-control" id="idCliente" data-placeholder="Escoja un Cliente...">
                    
                  {clientes}
                    
                  </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="numeroPoliza" class="col-sm-3 control-label no-padding-right">Numero de Poliza</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="numeroPoliza" type="text"  id="numeroPoliza" value="{numeroPoliza}"  placeholder="Numero de Poliza">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="idCompania" class="col-sm-3 control-label no-padding-right">Compania </label>
            <div class="col-sm-9">
              <div class="clearfix">
                <select class="col-sm-12 col-xs-12 form-control" name="idCompania" id="idCompania" >
                  
                  
                  
                  
                  
                  
                  
                  
									
              {companias}
							
								
                
                
                
                
                
                
                
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="idRamo" class="col-sm-3 control-label no-padding-right">Ramo </label>
            <div class="col-sm-9">
              <div class="clearfix">
                <select class="col-sm-12 col-xs-12 form-control" name="idRamo" id="idRamo" >
                  
                  
                  
                  
                  
                  
                  
                  
									
              {ramos}
							
								
                
                
                
                
                
                
                
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="moneda" class="col-sm-3 control-label no-padding-right">Moneda </label>
            <div class="col-sm-9">
              <div class="clearfix">
                <select class="col-sm-12 col-xs-12 form-control" name="moneda" id="moneda" >
                  <option selected="selected"></option>
                  <option value="Soles">Soles</option>
                  <option value="Dolares">Dolares</option>
                  <option value="Euros">Euros</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="documento" class="col-sm-3 control-label no-padding-right">Documento</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="documento" type="text"  id="documento" value="{documento}"  placeholder="Documento">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="renovacion" class="col-sm-3 control-label no-padding-right">Numero de Renovacion</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="renovacion" type="text"  id="renovacion" value="{renovacion}"  placeholder="Numero de Renovacion">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="cobranza" class="col-sm-3 control-label no-padding-right">Aviso de Cobranza</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="cobranza" type="text"  id="cobranza" value="{cobranza}"  placeholder="Aviso de Cobranza">
              </div>
            </div>
          </div>
          <block start="bloqueado"/>
          <div class="alert alert-block alert-warning">
            <i class="icon-ok warning"></i> <strong class="warning"> Alerta</strong>, no se puede modificar los datos de una comision que ya ha sido liquidada.
          </div>
          <block end="bloqueado"/>
          <div class="form-group">
            <label for="prima" class="col-sm-3 control-label no-padding-right">Prima Neta</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="prima" type="text"  id="prima" value="{primaNeta}" placeholder="Prima Neta" {readonly}>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="derecho" class="col-sm-3 control-label no-padding-right">Derecho de Emision</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="derecho" type="text"  id="derecho" value="{derecho}" placeholder="Derecho de Emision" {readonly}>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="primaComercial" class="col-sm-3 control-label no-padding-right">Prima Comercial</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input name="primaComercial" type="text" class="col-sm-12 col-xs-12"  id="primaComercial" placeholder="Prima Comercial" value="{primaComercial}" readonly>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="intereses" class="col-sm-3 control-label no-padding-right">Intereses</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="intereses" type="text"  id="intereses" value="{intereses}" placeholder="Comision" {readonly}>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="igv" class="col-sm-3 control-label no-padding-right">IGV</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="igv" type="text"  id="igv" value="{igv}" placeholder="IGV" {readonly}>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="total" class="col-sm-3 control-label no-padding-right">Total de Factura</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="total" type="text"  id="total" value="{total}" placeholder="Total de Factura" {readonly}>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="comisionP" class="col-sm-3 control-label no-padding-right">Comision (%)</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="comisionP" type="text"  id="comisionP" value="{comisionP}" placeholder="Comision (%)" {readonly}>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="comision" class="col-sm-3 control-label no-padding-right">Comision</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="comision" type="text"  id="comision" value="{comision}" placeholder="Comision" {readonly}>
              </div>
            </div>
          </div>


          <block start="bloqueadoVendedor"/>
          <div class="alert alert-block alert-warning">
            <i class="icon-ok warning"></i> <strong class="warning"> Alerta</strong>, no se puede modificar los datos de una comision cedida que ya ha sido pagada.
          </div>
          <block end="bloqueadoVendedor"/>          
          
          <div class="form-group">
            <label for="idPersona" class="col-sm-3 control-label no-padding-right">Asesor </label>
            <div class="col-sm-9">
               <select class="col-sm-12 col-xs-12 form-control" name="idPersona" id="idPersona" >
				              {personas}
              </select>
            </div>
          </div>
        <div id="divComisionVendedor">
          <div class="form-group">
            <label for="comisionP" class="col-sm-3 control-label no-padding-right">Comision Vendedor (%)</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="comisionVendedorP" type="text"  id="comisionVendedorP" value="{comisionVendedorP}" placeholder="Comision Vendedor (%)" {readonlyVendedor}>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="comisionVendedor" class="col-sm-3 control-label no-padding-right">Comision Vendedor</label>
            <div class="col-sm-9">
              <div class="clearfix">
                <input class="col-sm-12 col-xs-12" name="comisionVendedor" type="text"  id="comisionVendedor" value="{comisionVendedor}" placeholder="Comision Vendedor" {readonlyVendedor}>
              </div>
            </div>
          </div>
        </div>
                    
          <div class="form-group">
            <label for="fechaInicio" class="col-sm-3 control-label no-padding-right"> Fecha de Inicio </label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" name="fechaInicio" data-date-format="dd/mm/yyyy" class="form-control date-picker" id="fechaInicio" value="{fechaInicio}">
                <span class="input-group-addon"> <i class="icon-calendar"></i> </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="fechaFin" class="col-sm-3 control-label no-padding-right"> Fecha de Fin </label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" name="fechaFin" data-date-format="dd/mm/yyyy" class="form-control date-picker" id="fechaFin" value="{fechaFin}">
                <span class="input-group-addon"> <i class="icon-calendar"></i> </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="recordatorio" class="col-sm-3 control-label no-padding-right"> Recordatorio SCTR </label>
            <div class="col-sm-9">
              <input name="recordatorio" type="checkbox" value="1" id="contratante" {recorda}/>
            </div>
          </div>
          <div class="form-group">
            <label for="observaciones" class="col-sm-3 control-label no-padding-right">Observaciones </label>
            <div class="col-sm-9">
              <input name="observaciones" class="col-sm-12 col-xs-12" type="text"  id="observaciones" value="{observaciones}"  placeholder="Observaciones">
            </div>
          </div>
          <block start="polizaPDF"/>
          <div class="form-group">
            <label for="file" class="col-sm-3 control-label no-padding-right">Poliza en PDF </label>
            <div class="col-sm-9">
              <input type="file" id="pdf" name="pdf">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
              <div class="alert alert-block alert-warning">
                <button type="button" class="close" data-dismiss="alert"> <i class="icon-remove"></i> </button>
                <p> <strong> <i class="icon-warning-sign"></i> ¡Atenci&oacute;n!</strong><br />
                  Ya existe un archivo PDF, si escoje un PDF si sube un nuevo archivo el anterior sera eliminado. </p>
                <p> <a class="btn btn-sm btn-warning" id="descargarPdf" target="_blank" href="uploads/{pdf}"> Dercargar Archivo <i class="icon-arrow-right icon-on-right bigger-110"></i> </a> </p>
              </div>
            </div>
          </div>
          <block end="polizaPDF"/>
          <block start="polizaPDFn"/>
          <div class="form-group">
            <label for="file" class="col-sm-3 control-label no-padding-right">Poliza en PDF </label>
            <div class="col-sm-9">
              <input type="file" id="pdf" name="pdf">
            </div>
          </div>
          <block end="polizaPDFn"/>
        </fieldset>
        <block start="idPoliza"/>
        <input type="hidden" name="idPoliza" value="{idPoliza}">
        <block end="idPoliza"/>
        <div class="form-actions center">
          <button class="btn btn-sm btn-success" type="button" id="enviarPrincipal2"> {editar} <i class="icon-arrow-right icon-on-right bigger-110"></i> </button>
        </div>
      </form>
    </div>
  </div>
</div>
<block end="bloqueEditarPolizas"/>
<script type="text/javascript">
	$(".chosen-select").chosen({
		no_results_text: "No se hay ningun registro con esos datos.",
		width: "100%"
	}); 
    jQuery(document).ready(function() {
		jQuery('#pdf').ace_file_input({
			no_file:'Escoja ...',
			btn_choose:'Subir',
			btn_change:'Cambiar',
			droppable:false,
			onchange:null,
			thumbnail:false, //| true | large
			whitelist:'pdf',
			blacklist:'exe|php',
			//onchange:''
			//
		}); 		
		
//        jQuery("#nuevo").hide();
//        jQuery("#antiguo").hide();
//		jQuery("#new").val({nuevoCliente});
		//jQuery("#idCliente").val({cliente});
		if($("#idPersona").val() == "1"){
			jQuery("#divComisionVendedor").hide();	
		}
		
		jQuery("#idCliente").change(function () {
			$('#idPersona').val($("#idCliente option:selected").attr('x-asesor')).change();
		})
				
		jQuery("#idPersona").change(function () {
			if($("#idPersona").val() != "1"){
				jQuery("#divComisionVendedor").show('slow');
			}else{
				jQuery("#divComisionVendedor").hide('slow');
			}
			var com = $("#comision").val();
			var comCP = $('option:selected', this).attr('x-com');
			var comC = (parseFloat(com)*parseFloat(comCP)/100).toFixed(2);
			$("#comisionVendedorP").val(comCP);
			$("#comisionVendedor").val(comC);
		})
		jQuery("#idCompania").val({idCompania});
		jQuery("#idRamo").val({idRamo});
		jQuery("#idPersona").val({idPersona});
		jQuery("#moneda").val("{moneda}");
//		if(jQuery('#new').val() == 1){
//			jQuery("#antiguo").hide("slow");
//			jQuery("#nuevo").show("slow");	
//		}else if(jQuery('#new').val() == 0){
//			jQuery("#nuevo").hide("slow");
//			jQuery("#antiguo").show("slow");	
//		}
    });
	jQuery('.date-picker').mask("99/99/9999");
	jQuery('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
					$(this).prev().focus();
				});
	jQuery("#new").change(function () {
		if(jQuery('#new').val() == 1){
			jQuery("#antiguo").hide("slow");
			jQuery("#nuevo").show("slow");	
		}else if(jQuery('#new').val() == 0){
			jQuery("#nuevo").hide("slow");
			jQuery("#antiguo").show("slow");	
		}
	});
	jQuery("#prima").keyup(function () {
		jQuery("#derecho").val((parseFloat(jQuery("#prima").val())*0.03).toFixed(2));
		jQuery("#primaComercial").val((parseFloat(jQuery("#prima").val())*1.03).toFixed(2));		
		var pri = jQuery("#prima").val();
		var derecho = jQuery("#derecho").val();
		var intereses = jQuery("#intereses").val();
		var igv = ((parseFloat(pri)+parseFloat(derecho)+parseFloat(intereses))*0.18).toFixed(2);
		var total = ((parseFloat(pri)+parseFloat(derecho)+parseFloat(intereses))*1.18).toFixed(2);
		jQuery("#igv").val(igv);
		jQuery("#total").val(total);	
		var prim = jQuery("#prima").val();
		var por = jQuery("#comisionP").val();
		var com = (parseFloat(prim)*parseFloat(por)/100).toFixed(2);
		if(isNaN(com)){
			jQuery("#comision").val(0.00);	
		}else{
			jQuery("#comision").val(com);
		}
	});
	
	jQuery("#derecho").keyup(function () {		
		var pri = jQuery("#prima").val();
		var derecho = jQuery("#derecho").val();
		var intereses = jQuery("#intereses").val();
		jQuery("#primaComercial").val((parseFloat(jQuery("#prima").val()) + parseFloat(jQuery("#derecho").val())).toFixed(2));		
		var igv = ((parseFloat(pri)+parseFloat(derecho)+parseFloat(intereses))*0.18).toFixed(2);
		var total = ((parseFloat(pri)+parseFloat(derecho)+parseFloat(intereses))*1.18).toFixed(2);
		jQuery("#igv").val(igv);
		jQuery("#total").val(total);
		var prim = jQuery("#prima").val();
		var por = jQuery("#comisionP").val();
		var com = (parseFloat(prim)*parseFloat(por)/100).toFixed(2);
		if(isNaN(com)){
			jQuery("#comision").val(0.00);	
		}else{
			jQuery("#comision").val(com);
		}	
				
	});
	jQuery("#intereses").keyup(function () {	
		var pri = jQuery("#prima").val();
		var derecho = jQuery("#derecho").val();
		var intereses = jQuery("#intereses").val();
		var igv = ((parseFloat(pri)+parseFloat(derecho)+parseFloat(intereses))*0.18).toFixed(2);
		var total = ((parseFloat(pri)+parseFloat(derecho)+parseFloat(intereses))*1.18).toFixed(2);
		jQuery("#igv").val(igv);
		jQuery("#total").val(total);		
	});
	
	jQuery("#comisionP").keyup(function () {	
		var prim = jQuery("#prima").val();
		var por = jQuery("#comisionP").val();
		var com = (parseFloat(prim)*parseFloat(por)/100).toFixed(2);
		jQuery("#comision").val(com);		
	});
	
	jQuery("#comisionVendedorP").keyup(function () {	
		var comi = jQuery("#comision").val();
		var comCP = jQuery("#comisionVendedorP").val();
		var temp = (parseFloat(comCP)*parseFloat(comi)/100).toFixed(2);
		jQuery("#comisionVendedor").val(temp);		
	});
	
	$('#principal2').validate({
		errorElement: 'div',
		errorClass: 'help-block',
		focusInvalid: false,
		rules: {
			idCliente: {
				required: true,
			},
			numeroPoliza: {
				required: true,
			},
			idCompania: {
				required: true,
			},
			idRamo: {
				required: true,
			},
			moneda: {
				required: true,
			},
			fechaInicio: {
				required: true,
			},
			fechaFin: {
				required: true,
			},
		},

		messages: {
			idCliente: {
				required: "Seleccione el Cliente",
			},
			numeroPoliza: {
				required: "Ingrese el Numero de Poliza",
			},
			idCompania: {
				required: "Seleccione la Compania",
			},
			idRamo: {
				required: "Seleccione el Ramo",
			},
			moneda: {
				required: "Seleccione la Moneda",
			},
			fechaInicio: {
				required: "Escoja la fecha de inicio",
			},
			fechaFin: {
				required: "Escoja la fecha de fin",
			},
		},

		invalidHandler: function (event, validator) { //display error alert on form submit   
			$('.alert-danger', $('.login-form')).show();
		},

		highlight: function (e) {
			$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
		},

		success: function (e) {
			$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
			$(e).remove();
			
		},

		errorPlacement: function (error, element) {
			if(element.is(':checkbox') || element.is(':radio')) {
				var controls = element.closest('div[class*="col-"]');
				if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
				else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
			}
			else if(element.is('.select2')) {
				error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
			}
			else if(element.is('.chosen-select')) {
				error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
			}
			else error.insertAfter(element.parent());
		},
	});
	$('#enviarPrincipal2').click(function() {
		if($("#principal2").valid()){
			$("#principal2").submit();
		}
	});
	
	
	
    </script> 