<div class="page-header" style="padding-bottom:0px;">
  <h1 style="padding-bottom: 10px;"> Poliza <small> <i class="ace-icon fa fa-angle-double-right"></i>&nbsp;&nbsp;{num}&nbsp;&nbsp;<i class="ace-icon fa fa-angle-double-right"></i> &nbsp;&nbsp;{vigenciaSeleccionada}&nbsp;&nbsp;</small>
    <block start="admin"/>
    <div class="btn-group pull-right">
      <button class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown">
        <i class="ace-icon fa fa-cogs bigger-120"></i> Opciones <span class="ace-icon fa fa-caret-down fa-on-right"></span>
      </button>
      <ul class="dropdown-menu dropdown-info pull-right">
        <li> <a href="/?do=polizas.editarDatosBasicos&idPoliza={idPoliza}">Editar Datos Basicos</a> </li>
        <li> <a href="/?do=polizas.editarDatosParticulares&idPoliza={idPoliza}">Editar Datos Particulares</a> </li>
        <li> <a href="/?do=polizas.agregarRenovacion&idPoliza={matriz}">Agregar Renovacion</a> </li>
        <block start="anulaPoliza"/>
        <li> <a href="#" id="anula">Anular Renovacion</a> </li>
        <block end="anulaPoliza"/>
        <block start="rehabilitaPoliza"/>
        <li> <a href="#" id="rehabilita">Rehabilitar Renovacion</a> </li>
        <block end="rehabilitaPoliza"/>
        <block start="eliminaRenovacion"/>
        <li> <a href="/?do=polizas.eliminarRenovacion&idPoliza={idPoliza}" id="elimina">Eliminar Renovacion</a> </li>
        <block end="eliminaRenovacion"/>
        <block start="eliminarPoliza"/>
        <li> <a href="/?do=polizas.eliminarPoliza&idPoliza={idPoliza}" id="elimina">Eliminar Poliza</a> </li>
        <block end="eliminarPoliza"/>
      </ul>
    </div>
    <block end="admin"/>
  </h1>
  <p>
    <span class="label label-lg label-primary">{sigC} - {compania}</span>
		<span class="label label-lg">{sigR} - {ramo} </span>
	</p>
</div>
<!-- /.page-header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-12">
        <div class="tabbable">
          <ul id="myTab" class="nav nav-tabs responsive-tabs padding-18">
            <li> <a href="#tabBasicos" x-link="/?do=polizas.verDatosBasicos&idPoliza={idPoliza}" data-toggle="tab"> <i class="green ace-icon fa fa-home bigger-120"></i> Datos Basicos </a> </li>
            <li> <a href="#tabParticulares" x-link="/?do=polizas.verDatosParticulares&idPoliza={idPoliza}" data-toggle="tab"> <i class="purple ace-icon fa fa-rss bigger-120"></i> Datos Particulares </a> </li>
            <li> <a href="#tabSiniestros" x-link="/?do=polizas.verDatosParticulares&idPoliza={idPoliza}" data-toggle="tab"> <i class="red ace-icon fa fa-gavel bigger-120"></i> Siniestros <span class="badge badge-danger">{siniestros}</span></a> </li>
            <li> <a href="#tabEndosos" x-link="/?do=polizas.verEndosos&idPoliza={idPoliza}" data-toggle="tab"> <i class="blue ace-icon fa fa-money bigger-120"></i> Endosos <span class="badge badge-info">{endosos}</span> </a> </li>
            <li> <a href="#tabCupones" x-link="/?do=polizas.verCupones&idPoliza={idPoliza}" data-toggle="tab"><i class="orange ace-icon fa fa-credit-card bigger-120"></i> Cupones <span class="badge badge-warning">{cupones}</span> </a> </li>
            <li> <a href="#tabCorrespondencia" x-link="/?do=polizas.verCorrespondencia&idPoliza={idPoliza}" data-toggle="tab"><i class="pink ace-icon fa fa-inbox bigger-120"></i> Correspondencia </a> </li>
          </ul>
          <div class="tab-content no-border">
            <div class="tab-pane" id="tabBasicos">
              <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;">
                </div>
              </div> 
            </div>
            <div class="tab-pane" id="tabParticulares">
              <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tabSiniestros">
              <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;">
                </div>
              </div> 
            </div>
            <div class="tab-pane" id="tabCupones">
              <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tabCorrespondencia">
              <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tabEndosos">
              <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="assets/css/jquery.gritter.css" />
<script src="assets/js/jquery.gritter.min.js"></script>
<script>

$(document).ready(function(){
  $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
    _title: function(title) {
      if (!this.options.title ) {
        title.html("&#160;");
      } else {
        title.html(this.options.title);
      }
    }
  }));  
  $( "#dialog-ver" ).dialog({
    resizable: false,
    modal: true,
    title_html: true,
    autoOpen: false,
    maxWidth:700,
    width: 700,
  }); /*
	$($('#myTab li#active a').attr('href')).load($('#myTab li#active a').attr('x-link'));
  */
	$('#myTab li a, .accordion-link').click(function(){
		var currentTab = $(this).attr('href');
	  $(currentTab).load($(this).attr('x-link'));
	});
	$( ".tool" ).tooltip();
	$('#elimina').click(function(){
		return confirm("¿Estas seguro que deseas eliminar la poliza?");
	});
  <block start="anulaPoliza"/>
  $('#anula').click( function() {
	  $.ajax({
    	url: '/?do=polizas.anularRenovacion&idPoliza={idPoliza}',
	  	success: function(responseText){
	  		$('#dialog-ver').html(responseText);					
	  		$('#dialog-ver').dialog('option', 'title', "<div class='widget-header'><h4 class='smaller'><i class='ace-icon fa fa-dashboard blue'></i> Confirmar Anulacion </h4></div>");
	  		$('#dialog-ver').dialog("open");
	  		},
	  	error: function(responseText){
	  	}
	  });
    event.preventDefault();
  });
  <block end="anulaPoliza"/>
  <block start="rehabilitaPoliza"/>
  //para rehabilitar la poliza
  			$("#rehabilita").on(ace.click_event, function() {
					bootbox.dialog({
						message: "<span class='bigger-110'>¿Desea rehabilitar la p&oacute;liza?</span>",
						buttons:
						{
							"danger" :
							{
								"label" : "<i class='ace-icon fa fa-times'></i> No",
								"className" : "btn-sm btn-danger",
								"callback": function() {
									//Example.show("uh oh, look out!");
								}
							},
							"success" :
							 {
								"label" : "<i class='ace-icon fa fa-check'></i> Si",
								"className" : "btn-sm btn-success",
								"callback": function() {
									$.ajax({
                  	url: '/?do=polizas.rehabilitaRenovacion&idPoliza={idPoliza}',
              	  	success: function(responseText){
              	  		  location.reload(false);
              	  		},
              	  	error: function(responseText){
              	  	}
              	  });
								}
							}
						}
					});
        event.preventDefault();
				});
  <block end="rehabilitaPoliza"/> 
  //var urlHash = window.location.hash;
  //$(urlHash).trigger('click');
  //$('#tabBasicos').trigger('click');
  var stab = true;
  $('#myTab li a').each(function(){
    var urlHash = window.location.hash;
    if(urlHash == $(this).attr('href')){
      $(this).trigger('click');
      stab = false;
    }
  });
  if(stab){
    $('#myTab li a').first().trigger('click');
  }
  if (location.hash) {
    setTimeout(function() {
      window.scrollTo(0, 0);
    }, 1);
  }
 
});

<block start="ee"/>
					$.gritter.add({
						title: '¡Error!',
						text: 'No se puede eliminar esta poliza al ser la primera en ingresar al sistema.',
						sticky: true,
						time: '',
						class_name: 'gritter-error'
					});
<block end="ee"/>

$('.responsive-tabs').responsiveTabs({
  accordionOn: ['xs'] // xs, sm, md, lg
});
</script>
<div id="dialog-ver"></div>
