<div class="page-header">
  <h1> Poliza <small> <i class="icon-double-angle-right"></i>&nbsp;&nbsp;{num}&nbsp;&nbsp;<i class="icon-double-angle-right"></i> &nbsp;&nbsp;{vigenciaSeleccionada}&nbsp;&nbsp;</small>
    <block start="admin"/>
    
    <div class="btn-group pull-right">
      <button class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown">
        <i class="icon-cogs bigger-120"></i> Opciones <span class="icon-caret-down icon-on-right"></span>
      </button>
      <ul class="dropdown-menu dropdown-info pull-right">
        <li> <a href="/?do=polizas.editarDatosBasicos&idPoliza={idPoliza}">Editar Datos Basicos</a> </li>
        <li> <a href="/?do=polizas.editarDatosParticulares&idPoliza={idPoliza}">Editar Datos Particulares</a> </li>
        <li> <a href="/?do=polizas.agregarRenovacion&idPoliza={matriz}">Agregar Renovacion</a> </li>
        <li> <a href="/?do=polizas.anularRenovacion&idPoliza={idPoliza}" id="anula">Anular Renovacion</a> </li>
        <block start="eliminaRenovacion"/>
        <li> <a href="/?do=polizas.eliminarRenovacion&idPoliza={idPoliza}" id="elimina">Eliminar Renovacion</a> </li>
        <block end="eliminaRenovacion"/>
      </ul>
    </div>
    <block end="admin"/>
    
  </h1>
</div>
<!-- /.page-header -->
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-sm-2 center hidden-xs">
        <span title="{compania}" class=" tool btn btn-app btn-primary no-hover"> <i class="icon-legal bigger-230"></i> <span class="line-height-1 smaller-90"> {sigC} </span> </span>
        <div class="hr hr12 dotted">
        </div>
        <span title="{ramo}" class=" tool btn btn-app btn-success no-hover"> <i class="icon-dashboard bigger-230"></i> <span class="line-height-1 smaller-90"> {sigR} </span> </span>
        <div class="hr hr12 dotted">
        </div>
        <span class="label label-xlg label-{colorEstado} col-xs-12">{estado}</span>
        <div class="hr hr12 dotted">
        </div>
      </div>
      <div class="col-sm-10">
        <div class="tabbable">
          <ul id="myTab" class="nav nav-tabs responsive-tabs">
            <li class="{bas}" id="{bas}"> <a href="#tab-1" x-link="/?do=polizas.verDatosBasicos&idPoliza={idPoliza}" data-toggle="tab"> <i class="green icon-home bigger-120"></i> Datos Basicos </a> </li>
            <li class="{mov}" id="{mov}"> <a href="#tab-4" x-link="/?do=polizas.verDatosParticulares&idPoliza={idPoliza}" data-toggle="tab"> <i class="red icon-rss bigger-120"></i> Datos Particulares </a> </li>
            <li> <a href="#tab-5" x-link="/?do=polizas.verEndosos&idPoliza={idPoliza}" data-toggle="tab"> <i class="blue icon-money bigger-120"></i> Endosos <span class="badge badge-info">{endosos}</span> </a> </li>
            <li class="{cup}" id="{cup}"> <a href="#tab-3" x-link="/?do=polizas.verCupones&idPoliza={idPoliza}" data-toggle="tab"><i class="orange icon-credit-card bigger-120"></i> Cupones <span class="badge badge-warning">{cupones}</span> </a> </li>
            <li class="{cor}" id="{cor}"> <a href="#tab-2" x-link="/?do=polizas.verCorrespondencia&idPoliza={idPoliza}" data-toggle="tab"><i class="pink icon-inbox bigger-120"></i> Correspondencia </a> </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane {bas}" id="tab-1">
              <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="tab-pane {mov}" id="tab-4">
              <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="tab-pane {cup}" id="tab-3">
              <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="tab-pane {cor}" id="tab-2">
              <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37">
                <div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="assets/css/jquery.gritter.css" />
<script src="assets/js/jquery.gritter.min.js"></script>
<script>

$(document).ready(function(){
	$($('#myTab li#active a').attr('href')).load($('#myTab li#active a').attr('x-link'));
	$('#myTab li a, .accordion-link').click(function(){
		var currentTab = $(this).attr('href');
		$(currentTab).load($(this).attr('x-link'));
	});
	$( ".tool" ).tooltip();
	$('#elimina').click(function(){
		return confirm("¿Estas seguro que deseas eliminar la poliza?");
	});
	$('#anula').click(function(){
		return confirm("¿Estas seguro que deseas anular la poliza?");
	});
});

<block start="ee"/>
					$.gritter.add({
						title: '¡Error!',
						text: 'No se puede eliminar esta poliza al ser la primera en ingresar al sistema.',
						sticky: true,
						time: '',
						class_name: 'gritter-error'
					});
<block end="ee"/>
$('.responsive-tabs').responsiveTabs({
  accordionOn: ['xs'] // xs, sm, md, lg
});

</script>