<block start="Anulada"/>
<div class="alert alert-danger">
	<button data-dismiss="alert" class="close" type="button">
		<i class="icon-remove"></i>
	</button>
	La poliza se encuentra anulada. <br>
</div>
<block end="Anulada"/>
<block start="NoAnulada"/>
<!--
<div class="alert alert-info">
	<button data-dismiss="alert" class="close" type="button">
		<i class="icon-remove"></i>
	</button>
	Mostrando la vigencia: {fechaInicio} - {fechaFin} <br>
</div>-->
<block end="NoAnulada"/>
<block start="vehiculos"/>
<div class="profile-user-info profile-user-info-striped">
	<div class="profile-info-row">
		<div class="profile-info-name"> Suma Asegurada </div>
		<div class="profile-info-value"> {sumaAsegurada}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Placa </div>
		<div class="profile-info-value"> {placa}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Numero de Chasis </div>
		<div class="profile-info-value"> {chasis}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Numero de Motor </div>
		<div class="profile-info-value"> {motor}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Tipo </div>
		<div class="profile-info-value"> {tipo}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Marca - Modelo </div>
		<div class="profile-info-value"> {marca} - {modelo} </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Año </div>
		<div class="profile-info-value"> {anio}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Color </div>
		<div class="profile-info-value"> {color}&nbsp; </div>
	</div>
</div>
<block end="vehiculos"/>