<h3 class="header smaller lighter blue" style="margin-top:0px">Datos Generales</h3>
<div class="profile-user-info profile-user-info-striped">
	<block start="anulado"/>
	<div class="profile-info-row">
		<div class="profile-info-name">Anulado </div>
		<div class="profile-info-value"> <i class="ace-icon fa fa-circle"></i> El endoso se encuentra anulado&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">Motivo de Anulacion </div>
		<div class="profile-info-value"> {motivoAnulacion}&nbsp; </div>
	</div>	
	<block end="anulado"/>
	
	<div class="profile-info-row">
		<div class="profile-info-name">Documento </div>
		<div class="profile-info-value"> {documento}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Detalle </div>
		<div class="profile-info-value"> {detalle}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Inicio de Vigencia </div>
		<div class="profile-info-value"> {inicioVigencia}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Fin de Vigencia </div>
		<div class="profile-info-value"> {finVigencia}&nbsp; </div>
	</div>
</div>
<h3 class="header smaller lighter blue">Facturacion</h3>
<div class="profile-user-info profile-user-info-striped">
	<div class="profile-info-row">
		<div class="profile-info-name"> Estado Comision </div>
		<div class="profile-info-value"> {estadoCobranza}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Aviso de Cobranza </div>
		<div class="profile-info-value"> {cobranza}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Prima Neta </div>
		<div class="profile-info-value"> {primaNeta}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Derecho de Emision </div>
		<div class="profile-info-value"> {derechoEmision}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Prima Comercial </div>
		<div class="profile-info-value"> {primaComercial}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> IGV </div>
		<div class="profile-info-value"> {igv}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Intereses </div>
		<div class="profile-info-value"> {intereses}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Total Factura </div>
		<div class="profile-info-value"> {totalFactura}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Comision (%) </div>
		<div class="profile-info-value"> {comisionP} %&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Comision </div>
		<div class="profile-info-value"> {comision}&nbsp; </div>
	</div>
    <block start="datosComision"/>
	<div class="profile-info-row">
		<div class="profile-info-name"> Estado Comision Cedida </div>
		<div class="profile-info-value"> {estadoComisionCedida}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Vendedor </div>
		<div class="profile-info-value"> {asesor} &nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Comision Vendedor (%) </div>
		<div class="profile-info-value"> {comisionVendedorP} %&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Comision Vendedor</div>
		<div class="profile-info-value"> {comisionVendedor}&nbsp; </div>
	</div>
    <block end="datosComision"/>
</div>
<br />