<div class="profile-user-info profile-user-info-striped">
	<div class="profile-info-row">
		<div class="profile-info-name"> Aviso de Cobranza </div>
		<div class="profile-info-value"> {cobranza}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Prima Neta </div>
		<div class="profile-info-value"> {primaNeta}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Derecho de Emision </div>
		<div class="profile-info-value"> {derechoEmision}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Prima Comercial </div>
		<div class="profile-info-value"> {primaComercial}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> IGV </div>
		<div class="profile-info-value"> {igv}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Intereses </div>
		<div class="profile-info-value"> {intereses}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Total Factura </div>
		<div class="profile-info-value"> {totalFactura}&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Comision (%) </div>
		<div class="profile-info-value"> {comisionP} %&nbsp; </div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> Comision </div>
		<div class="profile-info-value"> {comision}&nbsp; </div>
	</div>
</div>
