		<div id="selectorDeUsuarios" title="Selector de usuario" style="display: none;">
			<table style="width: 100%; text-align: left; ">
				<tr>
					<th style="width: 73px;">
						Nombre:
					</th>
					<td>
						<input type="text" name="nombre" onkeyup="getSuggestSelUsuario(this)" id="SuggestSelUsuarioNombre" />
					</td>
					<td rowspan="3">
						<img style="float: right; display: none;" id="imagenLoadingSelUsuario" src="images/loading.gif" />
					</td>
				</tr>
				<tr>
					<th>
						A. Paterno:
					</th>
					<td>
						<input type="text" name="apPat" onkeyup="getSuggestSelUsuario(this)"  id="SuggestSelUsuarioApPat"  /> <br/>
					</td>
				</tr>
				<tr>
					<th>
						A. Materno: 	
					</th>
					<td>
						<input type="text" name="apMat" onkeyup="getSuggestSelUsuario(this)"  id="SuggestSelUsuarioApMat"  />
					</td>
				</tr>
			</table>
			<div id="resSelUsuarioParaMi" style="width= 290px;"></div>
		</div>