{paginas}
<div class="table-responsive">
	<table id="sample-table-2" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th align="center"> Contratante </th>
				<th align="center"> Tipo</th>
				<th align="center"> Fecha Pedido</th>
				<th align="center"> Estado</th>
				<th align="center">Opc.</th>
			</tr>
		</thead>
		<tbody>
			<loop start="solicitudes"/>
			<tr>
				<td align="center"> {solicitudes.contratante} </td>
				<td align="center"> {solicitudes.tipo} </td>
				<td align="center"> {solicitudes.fechaPedido} </td>
				<td align="center"> {solicitudes.estado} </td>
				<td align="center"><div class="action-buttons"> <a class="blue" href="{solicitudes.link}"> <i class="ace-icon fa fa-search-plus bigger-130"></i> </a> </div></td>
			</tr>
			<loop end="solicitudes"/>
		</tbody>
	</table>
</div>
