<div class="page-header">
	<h1> Solicitudes <small> <i class="ace-icon fa fa-angle-double-right"></i> Crear una Solicitud </small> </h1>
</div>
<div class="well">
	<h4 class="green smaller lighter">Declaracion de Transportes</h4>
	Crear una declaracion de transporte de una Poliza Individual.
	<div class="center">
		<button class="btn btn-sm btn-success" onclick="window.location.href = '?do=transportes.editarDatosBasicos'">
			<i class="ace-icon fa fa-pencil align-top bigger-125"></i>Crear
		</button>
	</div>
</div>
