<div class="page-header">
  <h1> Recordatorios <small> <i class="ace-icon fa fa-angle-double-right"></i> Sistema de Cupones </small> </h1>
</div>
<div class="widget-box">
  <div class="widget-header">
    <h4 class="widget-title">Filtros de Busqueda</h4>
  </div>
  <div class="widget-body">
    <div class="widget-main no-padding">
      <form class="form-horizontal" role="form" id="principal" name="principal">
        <!-- <legend>Form</legend> -->
        <fieldset>
          <div class="form-group">
            <label for="rango" class="col-sm-3 control-label no-padding-right"> Rango </label>
            <div class="col-sm-9">
              <input class="form-control" type="text" name="rango" id="rango" value="{rango}" data-date-format="dd/mm/yyyy"/>
              <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert"> <i class="ace-icon fa fa-remove"></i> </button>
                <strong>¡Atencion!</strong> Solo se muestra los cupones con un maximo de 14 dias de antiguedad. <br>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="estado" class="col-sm-3 control-label no-padding-right"> Estado </label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-3 center">
                  <label>
                    <input name="porEnviar" type="checkbox" class="ace" {porEnviar} />
                    <span class="lbl"> Por Enviar </span> </label>
                </div>
                <div class="col-sm-3 center">
                  <label>
                    <input name="enviado" type="checkbox" class="ace" {enviado} />
                    <span class="lbl"> Enviado </span> </label>
                </div>
                <div class="col-sm-3 center">
                  <label>
                    <input name="enviadoHoy" type="checkbox" class="ace" {enviadoHoy} />
                    <span class="lbl"> Enviado Hoy </span> </label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <input name="busqueda" type="hidden" id="busqueda" value="1" />
        <div class="form-actions center">
          <button class="btn btn-sm btn-success" type="button" onClick="cargarFormulario('principal','?do=admin.busquedaCupones&pagina=1','divBusquedaRecordatorios');"> Buscar <i class="ace-icon fa fa-arrow-right fa-on-right bigger-110"></i> </button>
          <button class="btn btn-sm btn-danger" type="button" id="limpiar" onClick="window.location='?do=admin.recordatorios&limpiar=1'" value="Limpiar Filtros"> Limpiar Filtros <i class="ace-icon fa fa-trash fa-on-right bigger-110"></i> </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
	var parentAccordion=new TINY.accordion.slider("parentAccordion");
	parentAccordion.init("accFiltro","h4",0,0);
</script> 
<script>

	function disableEnterKey(e){
		var key;
		if(window.event)
		key = window.event.keyCode;     //IE
		else
		key = e.which;     //firefox
		
		if(key == 13)
		return false;
		else
		return true;
	}	
	function limpiarExportar(divC){
		var el;
		el= document.getElementById(divC);
		el.innerHTML = "";
	}
</script>
<h3 class="row header smaller lighter blue"> <span class="col-xs-6"> Resultados de Búsqueda </span><!-- /span --> 
  <!-- /span --> 
</h3>
<div class="row">
  <div class="col-xs-12"> 
    <!-- PAGE CONTENT BEGINS -->
    <div class="row">
      <div class="col-xs-12">
        <div id="divBusquedaRecordatorios" style="height:430px"> </div>
      </div>
    </div>
    <!-- PAGE CONTENT ENDS --> 
  </div>
  <!-- /.col --> 
</div>
<script>
	cargarFormulario('principal','?do=admin.busquedaCupones','divBusquedaRecordatorios');
	jQuery(function($) {
	  $('#rango').daterangepicker({ 
		  minDate: '{minimo}',
		  autoUpdateInput: false,
		  locale: {
		    format: 'DD/MM/YYYY'
		  }
	  });
	  
	  
  $('#rango').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
  });

  $('#rango').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
  });	  
	  
	  
	});
  </script>