<div class="page-header">
	<h1> Solicitud <small> <i class="ace-icon fa fa-angle-double-right"></i> Declaracion de Transportes</small> </h1>
</div>
<style type="text/css">
.profile-info-name{
	width: 250px;
	
}
</style>
<div class="row">
	<form action="" method="post" name="principal" id="principal">
		<div class="col-xs-12">
			<div class="row">
				<div class="alert alert-warning"> <strong>¡Atencion!</strong> Por favor confirme los datos. <br>
				</div>
				<div class="profile-user-info profile-user-info-striped">
					<input name="confirmed" type="hidden" id="confirmed" value="1">
					<div class="profile-info-row">
						<div class="profile-info-name"> Contratante </div>
						<div class="profile-info-value">
							<input name="contratante" type="hidden" id="contratante" value="{contratante}">
							{contratante}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Direccion </div>
						<div class="profile-info-value">
							<input name="direccion" type="hidden" id="direccion" value="{direccion}">
							{direccion}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> RUC </div>
						<div class="profile-info-value">
							<input name="ruc" type="hidden" id="ruc" value="{ruc}">
							{ruc}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Tipo de Mercaderia </div>
						<div class="profile-info-value">
							<input name="tipoDeMercaderia" type="hidden" id="tipoDeMercaderia" value="{tipoDeMercaderia}">
							{tipoDeMercaderia}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Descripcion de la Mercaderia </div>
						<div class="profile-info-value">
							<input type="hidden" id="descripcionMercaderia" name="descripcionMercaderia" value="{descripcionMercaderia}" >
							{descripcionMercaderia}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Lugar de Origen </div>
						<div class="profile-info-value">
							<input name="lugarOrigen" type="hidden" id="lugarOrigen" value="{lugarOrigen}"/>
							{lugarOrigen}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Fecha de Salida </div>
						<div class="profile-info-value">
							<input name="fechaSalida" type="hidden" id="fechaSalida" value="{fechaSalida}"/>
							{fechaSalida}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Pais de Origen </div>
						<div class="profile-info-value">
							<input name="paisOrigen" type="hidden" id="paisOrigen" value="{paisOrigen}"/>
							{paisOrigen}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Lugar de Destino </div>
						<div class="profile-info-value">
							<input name="lugarDestino" type="hidden" id="lugarDestino" value="{lugarDestino}"/>
							{lugarDestino}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Fecha de Llegada </div>
						<div class="profile-info-value">
							<input name="fechaLlegada" type="hidden" id="fechaLlegada" value="{fechaLlegada}" />
							{fechaLlegada}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Medio de Transporte </div>
						<div class="profile-info-value">
							<input name="medioTransporte" type="hidden" id="medioTransporte" value="{medioTransporte}" />
							{medioTransporte}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Proovedor </div>
						<div class="profile-info-value">
							<input name="proovedor" type="hidden" id="proovedor" value="{proovedor}" />
							{proovedor}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Nombre del Buque </div>
						<div class="profile-info-value">
							<input name="nombreBuque" type="hidden" id="nombreBuque2" value="{nombreBuque}" />
							{nombreBuque}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Trasbordo </div>
						<div class="profile-info-value">
							<input name="trasbordo" type="hidden" id="trasbordo" value="{trasbordo}" />
							{trasbordo}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Tipo de Contenedor </div>
						<div class="profile-info-value">
							<input name="tipoContenedor" type="hidden" id="nombreBuque" value="{tipoContenedor}" />
							{tipoContenedor}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Tipo de Embalaje </div>
						<div class="profile-info-value">
							<input name="tipoEmbalaje" type="hidden" id="tipoEmbalaje" value="{tipoEmbalaje}" />
							{tipoEmbalaje}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Valor FOB </div>
						<div class="profile-info-value">
							<input name="fob" type="hidden" id="fob" value="{valorFob}" />
							{valorFob}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Valor del Flete </div>
						<div class="profile-info-value">
							<input name="flete" type="hidden" id="flete" value="{valorFlete}"/>
							{valorFlete}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Sobreseguro </div>
						<div class="profile-info-value">
							<input name="sobreseguro" type="hidden" id="sobreseguro" value="{sobreseguro}" />
							{sobreseguro}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Observaciones </div>
						<div class="profile-info-value">
							<input name="observaciones" type="hidden" id="observaciones" value="{observaciones}" />
							{observaciones}&nbsp; </div>
					</div>
				</div>
				<div class="clearfix form-actions">
					<div class="center">
						<button id="corregir" name="corregir" type="button" class="btn btn-info" onClick="document.forms.principal.action='?do=transportes.editarDatosBasicos';submit();">
							<i class="ace-icon fa fa-ace fa fa-check bigger-110"></i> Corregir Errores
						</button>
						&nbsp; &nbsp; &nbsp;
						<button id="enviar" name="enviar" type="button" class="btn" onClick="document.forms.principal.action='?do=transportes.procesarDatosBasicos';submit();">
							<i class="ace-icon fa fa-ace fa fa-undo bigger-110"></i> Enviar
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
