<h2>Declaracion de Transportes</h2>
<table class="tablaResultados"<block start="html"/> cellpadding="4" cellspacing="0"  border="1" align="center" <block end="html"/>>
  <tr class="titulo">
    <td align="center" width="50%">Campo</td>
    <td align="center">Valor</td>
  </tr>
  <tr>
    <td align="center">Contratante</td>
    <td align="center">{contratante}</td>
  </tr>
  <tr>
    <td align="center">Direccion</td>
    <td align="center">{direccion}</td>
  </tr>
  <tr>
    <td align="center">RUC</td>
    <td align="center">{ruc}</td>
  </tr>
  <tr>
    <td align="center">Tipo de Mercaderia</td>
    <td align="center">{tipoDeMercaderia}</td>
  </tr>
  <tr>
    <td align="center">Descripcion de la Mercaderia </td>
    <td align="center">{descripcionMercaderia}</td>
  </tr>
  <tr>
    <td align="center">Lugar de Origen</td>
    <td align="center">{lugarOrigen}</td>
  </tr>
  <tr>
    <td align="center">Fecha de Salida</td>
    <td align="center">{fechaSalida}</td>
  </tr>
  <tr>
    <td align="center">Pais de Origen</td>
    <td align="center">{paisOrigen}</td>
  </tr>
  <tr>
    <td align="center">Lugar de Destino</td>
    <td align="center">{lugarDestino}</td>
  </tr>
  <tr>
    <td align="center">Fecha de Llegada</td>
    <td align="center">{fechaLlegada}</td>
  </tr>
  <tr>
    <td align="center">Medio de Transporte</td>
    <td align="center">{medioTransporte}</td>
  </tr>
  <tr>
    <td align="center">Proovedor</td>
    <td align="center">{proovedor}</td>
  </tr>
  <tr>
    <td align="center">Nombre del Buque</td>
    <td align="center">{nombreBuque}</td>
  </tr>
  <tr>
    <td align="center">Trasbordo</td>
    <td align="center">{trasbordo}</td>
  </tr>
  <tr>
    <td align="center">Tipo de Contenedor</td>
    <td align="center">{tipoContenedor}</td>
  </tr>
  <tr>
    <td align="center">Tipo Embalaje</td>
    <td align="center">{tipoEmbalaje}</td>
  </tr>
  <tr>
    <td align="center">Valor FOB</td>
    <td align="center">      {valorFob}</td>
  </tr>
  <tr>
    <td align="center">Valor del Flete</td>
    <td align="center">      {valorFlete}</td>
  </tr>
  <tr>
    <td align="center">Derechos de Aduana</td>
    <td align="center">      {aduana}</td>
  </tr>
  <tr>
    <td align="center">Sobreseguro</td>
    <td align="center">{sobreseguro}</td>
  </tr>
  <tr>
    <td align="center">Observaciones</td>
    <td align="center">{observaciones}</td>
  </tr>
</table>
<block start="html"/>
			<table border="0" style="border:1px solid #999999;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;" width="950" align="center">
				<tr>
					<td>
						Atentamente
						<br>
						<br>
						Sistema de Solicitudes
						<br>
						http://clientes.jmvseguros.com/
					</td>
				</tr>
			</table>
<block end="html"/>