<div class="page-header">
	<h1> Solicitud <small> <i class="ace-icon fa fa-angle-double-right"></i> Declaracion de Transportes</small> </h1>
</div>
<style type="text/css">
.profile-info-name{
	width: 250px;
	
}
</style>
<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="profile-user-info profile-user-info-striped">
					<input name="confirmed" type="hidden" id="confirmed" value="1">
					<div class="profile-info-row">
						<div class="profile-info-name"> Contratante </div>
						<div class="profile-info-value">
							{contratante}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Direccion </div>
						<div class="profile-info-value">
							{direccion}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> RUC </div>
						<div class="profile-info-value">
							{ruc}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Tipo de Mercaderia </div>
						<div class="profile-info-value">
							{tipoDeMercaderia}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Descripcion de la Mercaderia </div>
						<div class="profile-info-value">
							{descripcionMercaderia}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Lugar de Origen </div>
						<div class="profile-info-value">
							{lugarOrigen}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Fecha de Salida </div>
						<div class="profile-info-value">
							{fechaSalida}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Pais de Origen </div>
						<div class="profile-info-value">
							{paisOrigen}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Lugar de Destino </div>
						<div class="profile-info-value">
							{lugarDestino}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Fecha de Llegada </div>
						<div class="profile-info-value">
							<input name="fechaLlegada" type="hidden" id="fechaLlegada" value="{fechaLlegada}" />
							{fechaLlegada}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Medio de Transporte </div>
						<div class="profile-info-value">
							<input name="medioTransporte" type="hidden" id="medioTransporte" value="{medioTransporte}" />
							{medioTransporte}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Proovedor </div>
						<div class="profile-info-value">
							<input name="proovedor" type="hidden" id="proovedor" value="{proovedor}" />
							{proovedor}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Nombre del Buque </div>
						<div class="profile-info-value">
							<input name="nombreBuque" type="hidden" id="nombreBuque2" value="{nombreBuque}" />
							{nombreBuque}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Trasbordo </div>
						<div class="profile-info-value">
							<input name="trasbordo" type="hidden" id="trasbordo" value="{trasbordo}" />
							{trasbordo}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Tipo de Contenedor </div>
						<div class="profile-info-value">
							<input name="tipoContenedor" type="hidden" id="nombreBuque" value="{tipoContenedor}" />
							{tipoContenedor}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Tipo de Embalaje </div>
						<div class="profile-info-value">
							<input name="tipoEmbalaje" type="hidden" id="tipoEmbalaje" value="{tipoEmbalaje}" />
							{tipoEmbalaje}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Valor FOB </div>
						<div class="profile-info-value">
							<input name="fob" type="hidden" id="fob" value="{valorFob}" />
							{valorFob}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Valor del Flete </div>
						<div class="profile-info-value">
							<input name="flete" type="hidden" id="flete" value="{valorFlete}"/>
							{valorFlete}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Sobreseguro </div>
						<div class="profile-info-value">
							<input name="sobreseguro" type="hidden" id="sobreseguro" value="{sobreseguro}" />
							{sobreseguro}&nbsp; </div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> Observaciones </div>
						<div class="profile-info-value">
							<input name="observaciones" type="hidden" id="observaciones" value="{observaciones}" />
							{observaciones}&nbsp; </div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>