<div class="page-header">
  <h1> Ver Vehiculo <small> <i class="ace-icon fa fa-angle-double-right"></i> {idVehiculo} </small> </h1>
</div>
<div class="row">
  <div class="col-sm-2 center">
    <span class="btn btn-app btn-primary no-hover"> <span class="line-height-1 bigger-230"> {numPolizas} </span> <br>
    <span class="line-height-1 smaller-90"> Polizas </span> </span>
    <div class="hr hr12 dotted">
    </div>
  </div>
  <div class="col-sm-10">
    <div class="tabbable">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"> <a href="#home" data-toggle="tab"> <i class="green ace-icon fa fa-home bigger-110"></i> Datos Basicos </a> </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
              <div class="profile-info-name">
                Placa
              </div>
              <div class="profile-info-value">
                {placa}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Tipo
              </div>
              <div class="profile-info-value">
                {tipo}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Marca
              </div>
              <div class="profile-info-value">
                {marca}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Modelo
              </div>
              <div class="profile-info-value">
                {modelo}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Año
              </div>
              <div class="profile-info-value">
                {anio}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Suma Asegurada
              </div>
              <div class="profile-info-value">
                {sumaAsegurada}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                GPS
              </div>
              <div class="profile-info-value">
                {gps}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Numero de Motor
              </div>
              <div class="profile-info-value">
                {motor}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Numero de Chasis
              </div>
              <div class="profile-info-value">
                {chasis}&nbsp;
              </div>
            </div>
          </div>
          <h3 class="header smaller lighter blue">Polizas</h3>
          <div class="col-xs-12" id="tablaComisionesSeleccionadas">
            <div class="table-header">
              Polizas del Vehiculo
            </div>
            <div class="table-responsive">
              <table id="polizas" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Poliza</th>
                    <th>Cliente</th>
                    <th>Vigencia</th>
                    <th>Estado</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <loop start="polizas"/>
                  <tr>
                    <td>{polizas.id}</td>
                    <td><span class="show-option grey" title="{polizas.nombreCompania}" href="#">{polizas.siglaCompania} - {polizas.numeroPoliza}</span></td>
                    <td>{polizas.nombreCliente}</td>
                    <td>{polizas.inicioVigencia} - {polizas.finVigencia}</td>
                    <td align="center">{polizas.estado}</td>
                    <td align="center"><div class="action-buttons"> <a class="blue" href="?do=polizas.ver&idPoliza={polizas.idPoliza}&vig={polizas.idPoliza}"> <i class="ace-icon fa fa-search-plus bigger-130"></i> </a> </div></td>
                  </tr>
                  <loop end="polizas"/>
                </tbody>
              </table>
            </div>
          </div>
          <br style="clear:both"/>
        </div>
        <hr />
        <!--<div class="center">
          <button onClick="location.href='?do=vehiculos.editarDatosBasicos&idVehiculo={idVehiculo}';" class="btn btn-xs btn-success"> <i class="ace-icon fa fa-edit bigger-120"></i>Editar </button>-->
      </div>
    </div>
  </div>
</div>
</div>
</div>
<script>
	var polizas = $('#resultadosSeleccionados').dataTable( {
		"aoColumns": [
		  { "bSortable": false },
		  null, null,null, null, null, null,
		],
		"oLanguage": {
			"sUrl": "assets/js/dataTableSpanish.json"
		},
		"iDisplayLength" : 5,
		"aLengthMenu": [[5, 10, 25, -1], [5 , 10, 25, "Todos"]]
	});
	
	jQuery(function($) {
		$( ".show-option" ).tooltip();
	});
</script>