          <style type="text/css">
          .profile-info-name{
          	width: 250px;
          }
          </style> 
          <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
              <div class="profile-info-name">
                Placa
              </div>
              <div class="profile-info-value">
                {placa}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Tipo
              </div>
              <div class="profile-info-value">
                {tipo}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Marca
              </div>
              <div class="profile-info-value">
                {marca}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Modelo
              </div>
              <div class="profile-info-value">
                {modelo}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Año
              </div>
              <div class="profile-info-value">
                {anio}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Suma Asegurada
              </div>
              <div class="profile-info-value">
                {sumaAsegurada}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                GPS
              </div>
              <div class="profile-info-value">
                <block start="noGPS"/>
                <i class="fa fa-map-marker red bigger-140"></i>&nbsp;No
                <block end="noGPS"/>
                <block start="siGPS"/>
                <i class="fa fa-map-marker green bigger-140"></i>&nbsp;Si
                <block end="siGPS"/>
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Numero de Motor
              </div>
              <div class="profile-info-value">
                {motor}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Numero de Chasis
              </div>
              <div class="profile-info-value">
                {chasis}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Endosatario
              </div>
              <div class="profile-info-value">
                {endosatario}&nbsp;
              </div>
            </div>
          </div>