<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">


	<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Un Techo para mi País - Pilote</title>

		<base href="{fc.rootURL}">

		<link rel="stylesheet" type="text/css" href="styles/main.css">
		<link rel="stylesheet" type="text/css" href="styles/alertStyle.css">

		<!-- Ajax -->
		<script type="text/javascript" src="jScripts/ajax_core.js"></script>
		<script type="text/javascript" src="jScripts/ajform.js"></script>
		<!--Fin Ajax-->
		
		<script type="text/javascript" src="jScripts/menu.js"></script>
		<script type="text/javascript" src="jScripts/layout.js"></script>
        <script type="text/javascript" src="jScripts/tiny_mce/tiny_mce.js"></script>

		
		<!-- Calendario Antiguo -->
		<link rel="stylesheet" type="text/css" media="all" href="jScripts/calendar/skins/aqua/theme.css"/> 
		<script type="text/javascript" src="jScripts/calendar/calendar.js"></script>
		<script type="text/javascript" src="jScripts/calendar/lang/calendar-es.js"></script>
		<script type="text/javascript" src="jScripts/calendar/calendar-setup.js"></script>
        <!-- Fin Calendario Antiguo -->
		
		<!--JQuery -->
        <script type="text/javascript" src="jScripts/jquery.min.js"></script>

		<!-- Calendario Nuevo -->
		<link type="text/css" href="styles/theme/ui.all.css" rel="stylesheet" />
		<script type="text/javascript" src="jScripts/jQueryCalendar/ui.core.js"></script>
		<script type="text/javascript" src="jScripts/jQueryCalendar/ui.datepicker.js"></script>
		
		<script type="text/javascript" src="jScripts/jQueryCalendar/ui.draggable.js"></script>
		<script type="text/javascript" src="jScripts/jQueryCalendar/ui.resizable.js"></script>
		<script type="text/javascript" src="jScripts/jQueryCalendar/ui.dialog.js"></script>
		<!--Fin Calendario Nuevo-->
                    
		<!-- Thick Box -->
		<script type='text/javascript' src='jScripts/thickbox.js'></script>
		<link rel='stylesheet' href='styles/thickbox.css' type='text/css' media='screen' />
		<!-- / Thick Box -->
         

		<script type="text/javascript" src="jScripts/accordion.js"></script>
		<link rel="stylesheet" type="text/css" media="all" href="styles/metas.css"/> 
         
<!--
	 <script type="text/javascript" src="jScripts/modalbox/lib/prototype.js"></script>
                <script type="text/javascript" src="jScripts/modalbox/lib/scriptaculous.js?load=effects"></script>
                <script type="text/javascript" src="jScripts/modalbox/modalbox.js"></script>
                <link rel="stylesheet" href="jScripts/modalbox/modalbox.css" type="text/css" />
	
	
		<script type="text/javascript" src="jScripts/accordion.js"></script>
		
		<script type="text/javascript" src="jScripts/dialog/jquery.min.js"></script>
		<script type="text/javascript" src="jScripts/dialog/jqdialog.min.js"></script>
		<link rel="stylesheet" type="text/css" href="jScripts/dialog/jqdialog.css"/>
-->	
	
	
	</head>
	<body>
		<style>
			/*Para achicar el DatePicker y Dialog*/
			.ui-datepicker
			{
			font-size:11px;
			}
			.ui-dialog
			{
			font-size:11px;
			}
		</style>
		<script type="text/javascript">
			//Init del Calendario
			$(document).ready(function(){
				$(".datepicker").datepicker({ 
					dateFormat: 'dd/mm/yy', 
					changeYear: true,
					dayNamesMin: ['D', 'L', 'Ma', 'Mi', 'J', 'V', 'S'],
					monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
					firstDay: 1,
					yearRange: '1900:2100'
				});
			});
			
			//Init del Pop-Up para seleccionarUsuario
			$.ui.dialog.defaults.bgiframe = true;
			$(function() {
				$("#selectorDeUsuarios").dialog({ autoOpen: false });
			});
		</script>
			
		<MainCommand/>

	</body>
</html>
<!--fin layout public.html-->
