<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
		 
<html lang="es">

	<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Un Techo para mi País - Pilote</title>

		<base href="{fc.rootURL}">

		<link rel="stylesheet" type="text/css" href="styles/main.css">
		<link rel="stylesheet" type="text/css" href="styles/alertStyle.css">

		<script type="text/javascript" src="jScripts/ajax_core.js"></script>
		<script type="text/javascript" src="jScripts/ajform.js"></script>
		<script type="text/javascript" src="jScripts/menu.js"></script>
		<script type="text/javascript" src="jScripts/layout.js"></script>
		
		<link rel="stylesheet" type="text/css" media="all" href="jScripts/calendar/calendar-system.css"/> 
		<script type="text/javascript" src="jScripts/calendar/calendar.js"></script>
		<script type="text/javascript" src="jScripts/calendar/lang/calendar-es.js"></script>
		<script type="text/javascript" src="jScripts/calendar/calendar-setup.js"></script>
        
		<!--JQuery -->
        <script type="text/javascript" src="jScripts/jquery.min.js"></script>

		<!-- Calendario Nuevo -->
		<link type="text/css" href="styles/theme/ui.all.css" rel="stylesheet" />
		<script type="text/javascript" src="jScripts/jQueryCalendar/ui.core.js"></script>
		<script type="text/javascript" src="jScripts/jQueryCalendar/ui.datepicker.js"></script>
		
		<script type="text/javascript" src="jScripts/jQueryCalendar/ui.draggable.js"></script>
		<script type="text/javascript" src="jScripts/jQueryCalendar/ui.resizable.js"></script>
		<script type="text/javascript" src="jScripts/jQueryCalendar/ui.dialog.js"></script>
		<!--Fin Calendario Nuevo-->
        
        <link rel="shortcut icon" href="favicon.ico">
	</head>
	<body style="background-color:transparent;padding:0px; margin:0px; border:0px;">
		<style>
			/*Para achicar el DatePicker y Dialog*/
			.ui-datepicker
			{
			font-size:11px;
			}
		</style>
		<script type="text/javascript">
			//Init del Calendario
			$(document).ready(function(){
				$(".datepicker").datepicker({ 
					dateFormat: 'dd/mm/yy', 
					changeYear: true,
					dayNamesMin: ['D', 'L', 'Ma', 'Mi', 'J', 'V', 'S'],
					monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
					firstDay: 1,
					yearRange: '1980:1994'
				});
			});
		</script>
        
	<table align="center" style="width:100%;" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0">
     	<block start="menuAdmin"/>
      	<tr>
            <td align="left">
				<plug command="menus.menuInscripcion"/>
        	</td>
        </tr>
        <block end="menuAdmin"/>
       	<tr>
			<td>
            	<plug command="alert.alertCommand?group=main"/>
			</td>
     	</tr>
		<tr>
			<td bgcolor="#FFFFFF" width="100%" align="left" style="padding:10px;">
     			<block start="Usuario"/>
            		<div align="right">
                		<strong>{usuario}</strong>
            		</div>
           		<block end="Usuario"/>

				<MainCommand/>
			</td>
		</tr>
	</table>
	</body>
</html>
<!--fin layout public.html-->
