<div id="liquid-round">
    <div class="top"><span></span></div>
    <div class="center-content">
        <!-- CONTENT BEGIN -->
            <form id="principal" name="principal" action="?do=personas.autentificar" method="post">
            <h1>{nombreSistema}</h1>
            <label for="mail">Nombre de Usuario</label><input tabindex="1" type="text" name="mail" id="mail" maxlength="200" size="40"/><br />
            <label for="password">Contraseña</label><input tabindex="2" type="password" name="password" maxlength="200" size="40"/><br />
            <input type="submit" tabindex="3" value="Ingresar">
            </form>
        <!-- CONTENT END -->
    </div>
    <div class="bottom"><span></span></div>
</div>