                    <form action="?do=personas.autentificar" method="POST">
                        <table>
                            <tr>
                                <td align="left">Usuario</td>
                                <td align="left"><input type="text" size="8" name="usuario"></td>
                                <td align="left">Contraseña</td>
                                <td align="left"><input type="password" size="8" name="password"></td>
                                <td>
                
                                    <div style="text-align:center; position:relative; width:100%;">
                                        <input type="submit" value="Ingresar">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>