          <p style="text-align:justify;">
          Lima,&nbsp;{fecha}
          </p>
          <p style="text-align:justify;">
          Sr(es) <br />
          {nombre} <br />
          {direccion} <br />
          {distrito}
          </p>
          <p style="text-align:justify;">
          Att:&nbsp;
          </p>
          <p style="text-align:justify;">
          Ref: Poliza {siglas} - {numPoliza}
          </p>
          <p style="text-align:justify;">
          Estimado(s) Sr(es):
          </p>
          <p style="text-align:justify;">&nbsp;</p>
          
          <table width="90%" cellpadding="4" cellspacing="0" style="height: 40px; margin-left: auto; margin-right: auto;">
          <tbody>
          <tr>
          <td align="center">
          Aviso de Cobranza
          </td>
          <td align="center">
          Ramo
          </td>
          <td align="center">
          Cia
          </td>
          <td align="center">
          TD
          </td>
          <td align="center">
          Poliza
          </td>
          <td align="center">
          Inicio
          </td>
          <td align="center">
          Termino
          </td>
          <td align="center">
          Moneda
          </td>
          <td align="center">
          Importe Total
          </td>
          </tr>
          <tr>
          <td align="center" style="border-top:1px solid black;">
          {aviso}
          </td>
          <td align="center" style="border-top:1px solid black;">
          {ramo}
          </td>
          <td align="center" style="border-top:1px solid black;">
          {cia}
          </td>
          <td align="center" style="border-top:1px solid black;">
          R
          </td>
          <td align="center" style="border-top:1px solid black;">
          {pol}
          </td>
          <td align="center" style="border-top:1px solid black;">
          {inicio}
          </td>
          <td align="center" style="border-top:1px solid black;">
          {fin}
          </td>
          <td align="center" style="border-top:1px solid black;">
          {moneda}
          </td>
          <td align="center" style="border-top:1px solid black;">
          {monto}
          </td>
          </tr>
          </tbody>
          </table>
          
          
          <p style="text-align:justify;">
          Sin otro particular quedamos de ustedes.
          </p>
          <p style="text-align: center;">
          Cordialmente,
          </p>
          <p style="text-align: center;">
          </p>
          <p style="text-align: center;">
          </p>
          <p style="text-align: center;">
          JULIO CESAR MARTINEZ-VARGAS CARO <br />
          Asesor Corredor de Seguros
          </p>