          <p style="text-align:justify;">
          Lima,&nbsp;{fecha}
          </p>
          <p style="text-align:justify;">
          Sr(es) <br />
          {nombre} <br />
          {direccion} <br />
          {distrito}
          </p>
          <p style="text-align:justify;">
          Att:&nbsp;
          </p>
          <p style="text-align:justify;">
          Ref: Poliza {siglas} - {numPoliza}
          </p>
          <p style="text-align:justify;">
          Estimado(s) Sr(es):
          </p>
          <p style="text-align:justify;">&nbsp;</p>
          <p style="text-align:justify;">
          Sin otro particular quedamos de ustedes.
          </p>
          <p style="text-align: center;">
          Cordialmente,
          </p>
          <p style="text-align: center;">
          </p>
          <p style="text-align: center;">
          </p>
          <p style="text-align: center;">
          JULIO CESAR MARTINEZ-VARGAS CARO <br />
          Asesor Corredor de Seguros
          </p>