<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>eBase - JMVSeguros - Crear Carta</title>
<!-- basic styles -->

<!-- basic styles -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
<!-- page specific plugin styles -->
<link rel="stylesheet" href="assets/css/jquery-ui-1.10.3.full.min.css" />
<link rel="stylesheet" href="assets/css/datepicker.css" />
<link rel="stylesheet" href="assets/css/daterangepicker.css" />
<link rel="stylesheet" href="assets/css/ui.jqgrid.css" />
<!-- fonts -->
<link rel="stylesheet" href="assets/css/ace-fonts.css" />
<link rel="stylesheet" href="assets/css/chosen.css" />
<!-- ace styles -->
<link rel="stylesheet" href="assets/css/ace.min.css" />
<link rel="stylesheet" href="assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="assets/css/ace-skins.min.css" />
<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->
<script src="assets/js/ace-extra.min.js"></script>
<style>
html {
	overflow: -moz-scrollbars-vertical;
	overflow: scroll;
}
.btn-light {
	color: #000000!important;
}
</style>
<!-- Ajax -->
<script type="text/javascript" src="jScripts/ajax_core.js"></script>
<script type="text/javascript" src="jScripts/ajform.js"></script>

<!--Fin Ajax-->

</head>
<body>
<!-- basic scripts --> 
<!--[if !IE]> -->
                <script type="text/javascript">
                    window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
                </script>
                <!-- <![endif]--> 
<!--[if IE]>
                <script type="text/javascript">
                 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
                </script>
                <![endif]--> 
<script type="text/javascript">
                    if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
                </script> 
<script src="assets/js/bootstrap.min.js"></script> 
<script src="assets/js/typeahead-bs2.min.js"></script> 

<!-- page specific plugin scripts --> 
<script src="assets/js/jquery-ui-1.10.3.full.min.js"></script> 
<script src="assets/js/jquery.ui.touch-punch.min.js"></script> 
<script src="assets/js/jquery.dataTables.min.js"></script> 
<script src="assets/js/jquery.dataTables.bootstrap.js"></script> 
<script src="assets/js/fuelux/fuelux.wizard.min.js"></script> 
<script src="assets/js/additional-methods.min.js"></script> 
<script src="assets/js/bootbox.min.js"></script> 
<script src="assets/js/jquery.maskedinput.min.js"></script> 
<script src="assets/js/select2.min.js"></script> 
<script src="assets/js/date-time/bootstrap-datepicker.min.js"></script> 
<script src="assets/js/chosen.jquery.min.js"></script> 
<script src="assets/js/jquery.validate.min.js"></script> 
<script src="assets/js/date-time/moment.min.js"></script> 
<script src="assets/js/date-time/daterangepicker.min.js"></script> 

<!-- ace scripts --> 

<script src="assets/js/ace-elements.min.js"></script> 
<script src="assets/js/ace.min.js"></script> 
<script type="text/javascript" src="tinymce/js/tinymce.min.js"></script>
<div class="main-container">
  <div class="page-content">
    <div id="general">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h3 class="header blue lighter"> Seleccionar Tipo de Carta </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <block start="vehiculo"/>
          <p>
            <button class="btn btn-light btn-block x-link" x-link="/?do=cartas.despachoVehiculo&idPoliza={idPoliza}"> Despacho de poliza de Vehiculos <i class="ace-icon fa fa-arrow-right fa-on-right"></i> </button>
          </p>
          <block end="vehiculo"/>
          <block start="amed"/>
          <p>
            <button class="btn btn-light btn-block x-link" x-link="/?do=cartas.despachoAsistenciaMedica&idPoliza={idPoliza}"> Despacho de poliza de Asistencia Medica <i class="ace-icon fa fa-arrow-right fa-on-right"></i> </button>
          </p>
          <block end="amed"/>
          <p>
            <button class="btn btn-light btn-block" id="buscaEndoso"> Despacho de Endoso <i class="ace-icon fa fa-arrow-right fa-on-right"></i><br/>
            </button>
          </p>
          <p>
            <button class="btn btn-light btn-block x-link" x-link="/?do=cartas.blanco&idPoliza={idPoliza}"> Carta RRGG <i class="ace-icon fa fa-arrow-right fa-on-right"></i> </button>
          </p>
        </div>
      </div>
    </div>
    <div id="endosos" style="display:none">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h3 class="header blue lighter"> Despacho de Endosos - Seleccionar Endoso a Despachar</h3>
        </div>
      </div>
      <div class="row">
        <block start="bloqueNoResultados"/>
        <p> No se encontraron endosos en la Poliza. </p>
        <block end="bloqueNoResultados"/>
        <block start="bloqueResultados"/>
        <div class="table-responsive col-sm-10 center col-sm-offset-1" style="margin-top:10px;">
          <table id="sample-table-2" class="table table-striped table-bordered table-hover ">
            <thead>
              <tr>
                <th align="center">Documento</th>
                <th align="center">Aviso de Cobranza</th>
                <th align="center">Prima Neta</th>
                <th align="center">Comision</th>
                <th align="center">Estado Comision</th>
                <th align="center">Despacho</th>
              </tr>
            </thead>
            <tbody>
              <loop start="endosos"/>
              <tr>
                <td align="center">{endosos.documento}</td>
                <td align="center">{endosos.avisoCobranza}</td>
                <td align="center">{endosos.primaNeta}</td>
                <td align="center">{endosos.comision}</td>
                <td align="center">{endosos.estadoCobranza}</td>
                <td align="center">
                  <div class="btn-group">
                      <button class="btn btn-xs btn-info despachaEndoso" x-info="{endosos.idEndoso}">
                        Crear Carta <i class="ace-icon fa fa-arrow-right fa-on-right bigger-120"></i>
                      </button>
                    </div>                
                </td>
              </tr>
              <loop end="endosos"/>
            </tbody>
          </table>
        </div>
        <block end="bloqueResultados"/>
        <block start="bloqueNoResultados"/>
        <p> No se encontraron endosos en la Poliza. </p>
        <block end="bloqueNoResultados"/>
      </div>
      <block end="bloqueResultados"/>
    </div>
  </div>
</div>
</div>
<script>
$('.x-link').on('click', function() {
	window.location.href = $(this).attr('x-link');
});
$('.despachaEndoso').on('click', function() {
	window.location.href = "/?do=cartas.despachoEndoso&idPoliza={idPoliza}&idEndoso=" + $(this).attr('x-info');
});
$('#buscaEndoso').on('click', function() {
	$('#general').hide();
	$('#endosos').show();
});

</script>
</body>
</html>
