
.metaEstadoabi 
{
	height:33px;
	background-color: #CEE3F6;
}
.metaEstadoabi:hover 
{
	height:33px;
	background-color: #2E9AFE;
}

.metaEstadoatr
{
	height:33px;
	background-color: #F5A9A9;
}
.metaEstadoatr:hover 
{
	height:33px;
	background-color: #FE2E2E;
}

.metaEstadofse 
{
	height:33px;
	background-color: #F5D0A9;
}
.metaEstadofse:hover 
{
	height:33px;
	background-color: #FE9A2E;
}

.metaEstadofceca 
{
	height:33px;
	background-color: #CEF6CE;
}
.metaEstadofceca:hover 
{
	height:33px;
	background-color: #58FA58;
}

.metaEstadofcesa
{
	height:33px;
	background-color: #9AFE2E;
}
.metaEstadofcesa:hover 
{
	height:33px;
	background-color: #5FB404;
}

.metaEstadocan 
{
	height:33px;
	background-color: #D8D8D8;
}
.metaEstadocan:hover 
{
	height:33px;
	background-color: #848484;
}

.metasinEstado 
{
	height:33px;
	background-color: #F3F781;
}
.metasinEstado:hover 
{
	height:33px;
	background-color: #D7DF01;
}