<block start="bloqueEditarVehiculo"/>
<form class="form-horizontal"enctype="multipart/form-data" method="POST" name="crearVehiculo" id="crearVehiculo" action="?do=clientes.procesarDatosBasicos" role="form">
  <!-- <legend>Form</legend> -->
  <fieldset>
    <div class="form-group">
      <label for="placa" class="col-sm-3 control-label no-padding-right">Placa </label>
      <div class="col-sm-9">
        <div class="clearfix">
          <input name="placa" type="text"  id="placa" value="{placa}" onKeyPress="return disableEnterKey(event)" placeholder="Placa" class="col-sm-12">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="sumaAsegurada" class="col-sm-3 control-label no-padding-right">Suma Asegurada</label>
      <div class="col-sm-9">
        <div class="clearfix">
          <input name="sumaAsegurada" type="text"  id="sumaAsegurada" value="{sumaAsegurada}" onKeyPress="return disableEnterKey(event)" placeholder="Suma Asegurada" class="col-sm-12">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="anio" class="col-sm-3 control-label no-padding-right">Año </label>
      <div class="col-sm-9">
        <div class="clearfix">
          <select  class="col-sm-12 col-xs-12 form-control" name="anio" id="anio" >
            
                {anios}
              
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="marca" class="col-sm-3 control-label no-padding-right">Marca</label>
      <div class="col-sm-9">
        <div class="clearfix">
          <select  class="col-sm-12 col-xs-12 form-control" name="marca" id="marca" >
            
                	{marcas}
                
          </select>
        </div>
      </div>
    </div>
    <div class="form-group" id="selectModelos">
      <label for="modelo" class="col-sm-3 control-label no-padding-right">Modelo</label>
      <div class="col-sm-9">
        <div class="clearfix">
          <select  class="col-sm-12 col-xs-12 form-control" name="modelo" id="modelo" >
            
					{modelos}
				
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="color" class="col-sm-3 control-label no-padding-right">Color</label>
      <div class="col-sm-9">
        <div class="clearfix">
          <input name="color" type="text"  id="color" value="{color}" onKeyPress="return disableEnterKey(event)" placeholder="Color" class="col-sm-12">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="motor" class="col-sm-3 control-label no-padding-right">N° de Motor</label>
      <div class="col-sm-9">
        <div class="clearfix">
          <input name="motor" type="text"  id="motor" value="{motor}" onKeyPress="return disableEnterKey(event)" placeholder="Numero de Motor" class="col-sm-12">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="chasis" class="col-sm-3 control-label no-padding-right">N° de Chasis</label>
      <div class="col-sm-9">
        <div class="clearfix">
          <input name="chasis" type="text"  id="chasis" value="{chasis}" onKeyPress="return disableEnterKey(event)" placeholder="Numero de Chasis" class="col-sm-12">
        </div>
      </div>
    </div>
  <input type="hidden" name="idPoliza" id="idPoliza" value="{idPoliza}">
<block start="bloqueIdVehiculo"/>  
  <input type="hidden" name="idVehiculo" id="idVehiculo" value="{idVehiculo}">  
<block end="bloqueIdVehiculo"/>
  </fieldset>
  <div class="form-actions center">
    <button class="btn btn-sm btn-success" type="button" id="enviarCrearVehiculo" name="enviarCrearVehiculo">
      {accion} <i class="ace-icon fa fa-arrow-right fa-on-right bigger-110"></i>
    </button>
  </div>
</form>
<block end="bloqueEditarVehiculo"/>

<script>
<block start="creo"/>
	$('#selectModelos').hide();
<block end="creo"/>
	$( document ).ready(function() {
		$('#marca').on('change', function (e) {
			var valueSelected = this.value;
			if(valueSelected != ""){
				$('#modelo').load("/?do=modelos.ver&idMarca=" + valueSelected, function(){
						$('#selectModelos').show(200);
				});	
			}else{
				$('#selectModelos').hide(200);
				$('#modelo').load("/?do=modelos.ver");	
			}
		});
		<block start="edito"/>
		$('#marca option[value={idMarca}]').attr('selected','selected');
		<block end="edito"/>
	 });
 	$('#crearVehiculo').validate({
		errorElement: 'div',
		errorClass: 'help-block',
		focusInvalid: false,
		rules: {
			placa: {
				required: true,
			},
			sumaAsegurada: {
				required: true,
			},
			anio: {
				required: true,
			},
			marca: {
				required: true,
			},
			modelo: {
				required: true,
			},
		},

		messages: {
			placa: {
				required: "Ingrese la Placa",
			},
			sumaAsegurada: {
				required: "Seleccione la Compania",
			},
			anio: {
				required: "Seleccione el Año",
			},
			marca: {
				required: "Seleccione la Marca",
			},
			modelo: {
				required: "Seleccione el Modelo",
			},
			fechaFin: {
				required: "Escoja la fecha de fin",
			},
		},

		invalidHandler: function (event, validator) { //display error alert on form submit   
			$('.alert-danger', $('.login-form')).show();
		},

		highlight: function (e) {
			$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
		},

		success: function (e) {
			$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
			$(e).remove();
			
		},

		errorPlacement: function (error, element) {
			if(element.is(':checkbox') || element.is(':radio')) {
				var controls = element.closest('div[class*="col-"]');
				if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
				else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
			}
			else if(element.is('.select2')) {
				error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
			}
			else if(element.is('.chosen-select')) {
				error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
			}
			else error.insertAfter(element.parent());
		},
	});
	$('#enviarCrearVehiculo').click(function() {
		if($("#crearVehiculo").valid()){
			$.ajax({
				type: "POST",
				dataType: "json",
				url: '?do=vehiculos.guardar',
				data: $("#crearVehiculo").serialize(),
				success: function(data) {
					if(data["respuesta"]=="SUCCESS"){
						$("#tab-4").html('<div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37"><div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;"></div></div>');
						$("#tab-4").load('/?do=polizas.verDatosParticulares&idPoliza={idPoliza}');	
						$( "#dialog-general" ).dialog("close");
					}
				}
			});	
		}
	})
 
</script>