<block start="bloqueEditarClientes"/>
<div class="widget-box">
  <div class="widget-header">
    <h4>{editar}</h4>
  </div>
  <div class="widget-body">
    <div class="widget-main no-padding">
      <form class="form-horizontal" enctype="multipart/form-data" method="POST" name="principal" id="principal" action="?do=clientes.procesarDatosBasicos" role="form">
        <!-- <legend>Form</legend> -->
        <fieldset>
          <div class="form-group">
            <label for="nombre" class="col-sm-3 control-label no-padding-right">Nombre del Cliente </label>
            <div class="col-sm-9">
            <div class="clearfix">
              <input name="nombre" type="text"  id="nombre" value="{nombre}" onKeyPress="return disableEnterKey(event)" placeholder="Nombre" class="col-sm-12">
            </div>
            </div>
          </div>
          <div class="form-group">
            <label for="tipoDoc" class="col-sm-3 control-label no-padding-right">Tipo de Documento </label>
            <div class="col-sm-9">
            <div class="clearfix">
            
                <block start="editando"/>
                
                  <select name="tipoDoc" class="col-sm-12 col-xs-12 form-control" id="tipoDoc" >
                  {tipoDoc}    
                  </select>
                  
              <!--<input name="tipoDoc" type="text" class="col-sm-12"  id="tipoDoc" onKeyPress="return disableEnterKey(event)" value="{tipoDocVal}" readonly>         -->       
                <block end="editando"/>
                <block start="creando"/>
                  <select name="tipoDoc" class="col-sm-12 col-xs-12 form-control" id="tipoDoc" >
                  {tipoDoc}    
                  </select>
                  
                <block end="creando"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="doc" class="col-sm-3 control-label no-padding-right">Documento </label>
            <div class="col-sm-9">
              <div class="clearfix">
              <block start="creando"/>
              <input name="doc" type="text" class="col-sm-12"  id="doc" placeholder="Documento" onKeyPress="return disableEnterKey(event)" value="{doc}">
              <block end="creando"/>
              <block start="editando"/>
              <input name="doc" type="text" class="col-sm-12"  id="doc" placeholder="Documento" onKeyPress="return disableEnterKey(event)" value="{doc}">
              <block end="editando"/>
            </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nac" class="col-sm-3 control-label no-padding-right"> Nacimiento / Aniversario </label>
            <div class="col-sm-9">
              <div class="input-group">
                <input type="text" name="nac" data-date-format="dd/mm/yyyy" class="form-control date-picker" id="nac" value="{nac}">
                <span class="input-group-addon"> <i class="ace-icon fa fa-calendar"></i> </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="direccion" class="col-sm-3 control-label no-padding-right">Direccion </label>
            <div class="col-sm-9">
              <input name="direccion" type="text"  id="direccion" value="{direccion}" onKeyPress="return disableEnterKey(event)" placeholder="Direccion" class="col-sm-12">
            </div>
          </div>          
          <div class="form-group">
            <label for="distrito" class="col-sm-3 control-label no-padding-right">Distrito </label>
            <div class="col-sm-9">
              <select  class="col-sm-12 col-xs-12 form-control" name="distrito" id="distrito" >
                
                {distritos}
              
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="correo" class="col-sm-3 control-label no-padding-right">Correo</label>
            <div class="col-sm-9">
              <input name="correo" type="text"  id="correo" value="{correo}" onKeyPress="return disableEnterKey(event)" placeholder="ejemplo@ejemplo.com" class="col-sm-12">
            </div>
          </div>
          <div class="form-group">
            <label for="correo2" class="col-sm-3 control-label no-padding-right">Correo Alternativo</label>
            <div class="col-sm-9">
              <input name="correo2" type="text"  id="correo2" value="{correo2}" onKeyPress="return disableEnterKey(event)" placeholder="ejemplo2@ejemplo.com" class="col-sm-12">
            </div>
          </div>
          <div class="form-group">
            <label for="asesor" class="col-sm-3 control-label no-padding-right">Asesor </label>
            <div class="col-sm-9">
              <select  class="col-sm-12 col-xs-12 form-control" name="asesor" id="asesor" >
                
                {asesores}
              
              </select>
            </div>
          </div>
          <div id="empresa">
            <div class="form-group">
              <label for="ggeneral" class="col-sm-3 control-label no-padding-right">Gerente General</label>
              <div class="col-sm-9">
                <input name="ggeneral" type="text"  id="ggeneral" value="{ggeneral}" onKeyPress="return disableEnterKey(event)" class="col-sm-12">
              </div>
            </div>
  
            <div class="form-group">
              <label for="nacGG" class="col-sm-3 control-label no-padding-right"> Nacimiento Gerente General </label>
              <div class="col-sm-9">
                <div class="input-group">
                  <input type="text" name="nacGG" data-date-format="dd/mm/yyyy" class="form-control date-picker" id="nacGG" value="{nacGG}">
                  <span class="input-group-addon"> <i class="ace-icon fa fa-calendar"></i> </span>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label for="encargado" class="col-sm-3 control-label no-padding-right">Encargado de Seguros</label>
              <div class="col-sm-9">
                <input name="encargado" type="text"  id="encargado" value="{encargado}" onKeyPress="return disableEnterKey(event)" class="col-sm-12">
              </div>
            </div>
  
            <div class="form-group">
              <label for="nacEncargado" class="col-sm-3 control-label no-padding-right"> Nacimiento del Encargado </label>
              <div class="col-sm-9">
                <div class="input-group">
                  <input type="text" name="nacEncargado" data-date-format="dd/mm/yyyy" class="form-control date-picker" id="nacEncargado" value="{nacEncargado}">
                  <span class="input-group-addon"> <i class="ace-icon fa fa-calendar"></i> </span>
                </div>
              </div>
            </div>   
          </div>
          
        </fieldset>
        <input type="hidden" name="idCliente" value="{idCliente}" id="idCliente">
        <div class="form-actions center">
          <button class="btn btn-sm btn-success" type="button" id="enviaPrincipal"> Editar <i class="ace-icon fa fa-arrow-right fa-on-right bigger-110"></i> </button>
        </div>
      </form>
    </div>
  </div>
</div>
<block end="bloqueEditarClientes"/>
<script>
  <block start="noEmpresa"/>
  $('#empresa').hide();
  <block end="noEmpresa"/>
  jQuery('.date-picker').mask("99/99/9999");
	jQuery('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
					$(this).prev().focus();
				});
 	$('#principal').validate({
		onfocusout: false,
		onkeyup: false,
		errorElement: 'div',
		errorClass: 'help-block',
		focusInvalid: false,
		rules: {
			nombre: {
				required: true,
			},
			doc: {
				required: true,
				remote: {
					url: "?do=clientes.check",
					type: "post",
					data: {
						tipoDoc: function() {
							return $( "#tipoDoc" ).val();
						},
						id: function() {
							return $( "#idCliente" ).val();
						}
					}
				}
			},
		},
		messages: {
			nombre: {
				required: "Ingrese el Nombre",
			},
			doc: {
				required: "Ingrese el Numero de Documento",
				remote: "Ya existe un cliente con ese documento",
			},
		},

		invalidHandler: function (event, validator) { //display error alert on form submit   
			$('.alert-danger', $('.login-form')).show();
		},

		highlight: function (e) {
			$(e).closest('.form-group').removeClass('has-info').addClass('has-error');
		},

		success: function (e) {
			$(e).closest('.form-group').removeClass('has-error').addClass('has-info');
			$(e).remove();
			
		},

		errorPlacement: function (error, element) {
			if(element.is(':checkbox') || element.is(':radio')) {
				var controls = element.closest('div[class*="col-"]');
				if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
				else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
			}
			else if(element.is('.select2')) {
				error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
			}
			else if(element.is('.chosen-select')) {
				error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
			}
			else 
				error.insertAfter(element.parent());
		},
	});

	$('#enviaPrincipal').click(function() {
		//alert($("#principal").valid());
		if($("#principal").valid()){
			$("#principal").submit();
		}
	});
	$("#tipoDoc").change(function() {
		$("#doc").removeData("previousValue");
		if($(this).val()=="RUC"){
		  $('#empresa').show();
		}else{
		  $('#empresa').hide();
		}
	});
	
</script>