<style type="text/css">
.profile-info-name{
	width: 250px;
}
</style>        
        <block start="mensaje"/>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">
              <i class="ace-icon fa fa-remove"></i>
            </button>
            <strong> <i class="ace-icon fa fa-remove"></i> Error! </strong> {m} <br>
          </div>
        <block end="mensaje"/>
          <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
              <div class="profile-info-name">
                Nombre
              </div>
              <div class="profile-info-value">
                {nombre}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Direcci&oacute;n
              </div>
              <div class="profile-info-value">
                <i class="ace-icon fa fa-map-marker light-orange bigger-110"></i> {direccion}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Distrito
              </div>
              <div class="profile-info-value">
                {distrito}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Provincia
              </div>
              <div class="profile-info-value">
                {provincia}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Departamento
              </div>
              <div class="profile-info-value">
                {departamento}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Tipo de Documento
              </div>
              <div class="profile-info-value">
                {tipoDoc}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Documento
              </div>
              <div class="profile-info-value">
                {doc}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Correo
              </div>
              <div class="profile-info-value">
                {correo}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Correo Alternativo
              </div>
              <div class="profile-info-value">
                {correo2}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Asesor
              </div>
              <div class="profile-info-value">
                {asesor}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Cumpleaños / Aniversario
              </div>
              <div class="profile-info-value">
                {aniversario}&nbsp;
              </div>
            </div>
            <block start="cia"/>
              <div class="profile-info-row">
                <div class="profile-info-name">
                  Gerente General
                </div>
                <div class="profile-info-value">
                  {ggeneral}&nbsp;
                </div>
              </div>
              <div class="profile-info-row">
                <div class="profile-info-name">
                  Cumpleaños GG
                </div>
                <div class="profile-info-value">
                  {cumpleGGeneral}&nbsp;
                </div>
              </div>
              <div class="profile-info-row">
                <div class="profile-info-name">
                  Encargado de Seguros
                </div>
                <div class="profile-info-value">
                  {encargado}&nbsp;
                </div>
              </div>
              <div class="profile-info-row">
                <div class="profile-info-name">
                  Cumpleaños Encargado
                </div>
                <div class="profile-info-value">
                  {cumpleEncargado}&nbsp;
                </div>
              </div>
            <block end="cia"/>
          </div>
