<style type="text/css">
.profile-info-name{
	width: 250px;
}
</style>        
        <block start="mensaje"/>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">
              <i class="ace-icon fa fa-remove"></i>
            </button>
            <strong> <i class="ace-icon fa fa-remove"></i> Error! </strong> {m} <br>
          </div>
        <block end="mensaje"/>
          <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
              <div class="profile-info-name">
                Nombre
              </div>
              <div class="profile-info-value">
                {nombre}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Direcci&oacute;n
              </div>
              <div class="profile-info-value">
                <i class="ace-icon fa fa-map-marker light-orange bigger-110"></i> {direccion}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Distrito
              </div>
              <div class="profile-info-value">
                {distrito}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Provincia
              </div>
              <div class="profile-info-value">
                {provincia}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Departamento
              </div>
              <div class="profile-info-value">
                {departamento}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Tipo de Documento
              </div>
              <div class="profile-info-value">
                {tipoDoc}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Documento
              </div>
              <div class="profile-info-value">
                {doc}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Telefono
              </div>
              <div class="profile-info-value">
                {telefono}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Correo
              </div>
              <div class="profile-info-value">
                {correo}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Correo Alternativo
              </div>
              <div class="profile-info-value">
                {correo2}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Asesor
              </div>
              <div class="profile-info-value">
                {asesor}&nbsp;
              </div>
            </div>
            <div class="profile-info-row">
              <div class="profile-info-name">
                Cumpleaños / Aniversario
              </div>
              <div class="profile-info-value">
                {aniversario}&nbsp;
              </div>
            </div>
            <block start="cia"/>
              <div class="profile-info-row">
                <div class="profile-info-name">
                  Gerente General
                </div>
                <div class="profile-info-value">
                  {ggeneral}&nbsp;
                </div>
              </div>
              <div class="profile-info-row">
                <div class="profile-info-name">
                  Cumpleaños GG
                </div>
                <div class="profile-info-value">
                  {cumpleGGeneral}&nbsp;
                </div>
              </div>
              <div class="profile-info-row">
                <div class="profile-info-name">
                  Encargado de Seguros
                </div>
                <div class="profile-info-value">
                  {encargado}&nbsp;
                </div>
              </div>
              <div class="profile-info-row">
                <div class="profile-info-name">
                  Cumpleaños Encargado
                </div>
                <div class="profile-info-value">
                  {cumpleEncargado}&nbsp;
                </div>
              </div>
            <block end="cia"/>
              <div class="profile-info-row">
                <div class="profile-info-name">
                  Carta de Nombramiento
                </div>
                <div class="profile-info-value">
            			<block start="siPDF"/>
            			<a href="uploads/{cartanombramiento}" target="_blank"><i class="ace-icon fa fa-save"></i> Descargar</a> 
            			<div class="action-buttons inline">
            				<a href="#" class="red" style="border-bottom:0px;outline:none;" id="eliminarPDF">
            					<i class="ace-icon fa fa-times-circle"></i>
            				</a>
            			</div>
            			<block end="siPDF"/>
            			<block start="noPDF"/>
            			No hay archivo
            			<block end="noPDF"/>
                </div>
              </div>
          </div>
<div id="dialog-eliminarPDF" class="hide">
	<div class="alert alert-info bigger-110">
		El archivo se eliminara permanentemente.
	</div>
	<div class="space-6"></div>
	<p class="bigger-110 bolder center grey">
		<i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
		¿Esta seguro?
	</p>
</div>
<script>
$(function() {
	$('#eliminarPDF').on('click', function(e){
		e.preventDefault();
		$( "#dialog-eliminarPDF" ).removeClass('hide').dialog({
			resizable: false,
			width: '320',
			modal: true,
			title: "<div class='widget-header'><h4 class='smaller'><i class='ace-icon fa fa-exclamation-triangle red'></i> ¿Eliminar el archivo guardado?</h4></div>",
			title_html: true,
			buttons: [
				{
					html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; Eliminar",
					"class" : "btn btn-danger btn-minier",
					click: function() {
						$.getJSON("?do=clientes.eliminarPDF&idCliente={idCliente}", function( data ) {
							console.log(data)
						});						
						$( this ).dialog( "close" );
						$("#tab-1").html('<div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="37"><div class="ui-progressbar-value ui-widget-header ui-corner-left progress-bar progress-bar-success" style="width: 100%;"></div></div>');
						$("#tab-1").load('/?do=clientes.verDatosBasicos&idCliente={idCliente}');
					}
				},
				{
					html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; Cancelar",
					"class" : "btn btn-minier",
					click: function() {
						$( this ).dialog( "close" );
					}
				}
			]
		});
		return;
	})
});
</script>